In [1]:
# Import packages
import pandas as pd
from sqlalchemy import create_engine
import json
import os

pd.set_option('display.max_rows', 200)

In [2]:
%load_ext dotenv
%dotenv ../.env

In [3]:
con = create_engine(os.getenv('RECIPE_ENGINE'))

In [4]:
# Build funtion to get the domains associated with a specific field
def get_domain(field, domain_path):
    with open(domain_path, "r") as domain:
        domain = json.load(domain)
    records = [i for i in domain['fields'] if i['field'] == field]
    if len(records) == 0: 
        print(f'cannot find field: {field} in domain table')
    else: 
        return records[0]['domain']

In [5]:
# Example
proxcode_domain = get_domain('proxcode', 'pluto_domains.json')
print(proxcode_domain)

{'0': 'Not Available', '1': 'Detached', '2': 'Semi-Attached', '3': 'Attached'}

In [6]:
# Example
proxcode_domain.keys()

dict_keys(['0', '1', '2', '3'])

In [7]:
# Specify latest PLUTO version
pluto = 'dcp_pluto."19v1"'
# Specify previous PLUTO version or the one you want to compare to
plutoprev = 'dcp_pluto."18v2_1"'

### Value check for the thirteen fields with expected domain values

##### includes summary statistics of unique value comparisions for the two PLUTO version, and lists of values that do not agree w/ domain list

### Zoning districts

In [8]:
sql = f'''
    WITH newcount as (
    WITH zdall as (
    SELECT zonedist1 as zonedist FROM {pluto}
    UNION ALL
    SELECT zonedist2 as zonedist FROM {pluto}
    UNION ALL
    SELECT zonedist3 as zonedist FROM {pluto}
    UNION ALL
    SELECT zonedist4 as zonedist FROM {pluto})
    SELECT zonedist, COUNT(*) 
    FROM zdall
    GROUP BY zonedist),
    prevcount as (
    WITH zdall as (
    SELECT zonedist1 as zonedist FROM {plutoprev}
    UNION ALL
    SELECT zonedist2 as zonedist FROM {plutoprev}
    UNION ALL
    SELECT zonedist3 as zonedist FROM {plutoprev}
    UNION ALL
    SELECT zonedist4 as zonedist FROM {plutoprev})
    SELECT zonedist, COUNT(*) 
    FROM zdall
    GROUP BY zonedist)
    SELECT a.zonedist, b.zonedist as zonedistprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.zonedist = b.zonedist
    ORDER BY diff DESC;
'''

In [9]:
df = pd.read_sql(sql=sql, con=con)

In [10]:
df[df['diff'] != 0]

      zonedist zonedistprev   countnew  countprev   diff
0     M1-6/R8X         None        2.0        NaN    NaN
1         None         None  2560881.0        NaN    NaN
2         None         None        NaN  2558911.0    NaN
3          R3X          R3X    51678.0    51411.0  267.0
4          R6B          R6B    52493.0    52379.0  114.0
5         R1-2         R1-2    14432.0    14346.0   86.0
6           R6           R6    68932.0    68847.0   85.0
7          R3A          R3A    54837.0    54770.0   67.0
8         M1-4         M1-4     1405.0     1362.0   43.0
9     M1-4/R6A     M1-4/R6A      220.0      184.0   36.0
10         R7D          R7D      979.0      953.0   26.0
11        R4-1         R4-1    50669.0    50644.0   25.0
12         R8A          R8A     1776.0     1751.0   25.0
13        R3-1         R3-1    51470.0    51446.0   24.0
14         R8X          R8X      180.0      161.0   19.0
15        R1-1         R1-1     1680.0     1664.0   16.0
16        M2-1         M2-1     1830.0     1815.0   15.0
17        R7-2         R7-2     8085.0     8070.0   15.0
18          R2           R2    40532.0    40520.0   12.0
19    M1-4/R7A     M1-4/R7A      283.0      273.0   10.0
20         R7B          R7B     3685.0     3676.0    9.0
21          R9           R9      273.0      265.0    8.0
22         R7A          R7A    11609.0    11601.0    8.0
23        M3-1         M3-1     2555.0     2551.0    4.0
24         R7X          R7X      480.0      476.0    4.0
25         R5D          R5D     5515.0     5511.0    4.0
26       C1-8A        C1-8A      213.0      209.0    4.0
27        C6-9         C6-9       53.0       50.0    3.0
28       C6-2G        C6-2G      233.0      231.0    2.0
29       C6-4A        C6-4A      300.0      298.0    2.0
30          R5           R5    91411.0    91409.0    2.0
31       C4-4L        C4-4L      347.0      345.0    2.0
32    M1-4/R6B     M1-4/R6B      326.0      324.0    2.0
33         R9A          R9A      406.0      404.0    2.0
34        C6-2         C6-2      798.0      797.0    1.0
35       C2-6A        C2-6A       50.0       49.0    1.0
36        C8-1         C8-1     2242.0     2241.0    1.0
37    M1-6/R10     M1-6/R10       76.0       75.0    1.0
38       C6-2A        C6-2A     1477.0     1476.0    1.0
39   M1-2/R7-2    M1-2/R7-2        4.0        3.0    1.0
40        C4-7         C4-7      145.0      144.0    1.0
41       C1-6A        C1-6A      401.0      400.0    1.0
42         R9X          R9X       64.0       63.0    1.0
109      C6-2M        C6-2M       72.0       73.0   -1.0
110      C6-4M        C6-4M      184.0      185.0   -1.0
111      M1-5A        M1-5A      281.0      282.0   -1.0
112      M1-4D        M1-4D      304.0      305.0   -1.0
113      C6-3A        C6-3A      317.0      318.0   -1.0
114      C4-3A        C4-3A      784.0      785.0   -1.0
115      M1-5M        M1-5M      137.0      138.0   -1.0
116   M1-2/R5B     M1-2/R5B      191.0      192.0   -1.0
117      C4-4D        C4-4D      348.0      349.0   -1.0
118       C6-7         C6-7       57.0       58.0   -1.0
119      C2-7A        C2-7A      141.0      142.0   -1.0
120      C4-2A        C4-2A      956.0      957.0   -1.0
121       C2-8         C2-8      424.0      425.0   -1.0
122       C4-4         C4-4      935.0      937.0   -2.0
123       C5-P         C5-P       83.0       85.0   -2.0
124      C1-8X        C1-8X      347.0      349.0   -2.0
125      C2-8A        C2-8A      126.0      128.0   -2.0
126   M1-4/R8A     M1-4/R8A       65.0       67.0   -2.0
127      C4-5D        C4-5D      223.0      225.0   -2.0
128      R1-2A        R1-2A     1590.0     1592.0   -2.0
129         C3           C3      465.0      467.0   -2.0
130        R10          R10     1133.0     1136.0   -3.0
131        R5A          R5A     4239.0     4242.0   -3.0
132      C4-6A        C4-6A      221.0      224.0   -3.0
133       C5-2         C5-2      403.0      406.0   -3.0
134       C5-5         C5-5      294.0      297.0   -3.0
135      C1-9A        C1-9A      134.0      137.0   -3.0
136       C6-3         C6-3      324.0      327.0   -3.0
137       C6-4         C6-4      806.0      810.0   -4.0
138       M1-5         M1-5      403.0      407.0   -4.0
139       M1-6         M1-6      745.0      749.0   -4.0
140   M1-2/R6A     M1-2/R6A     1420.0     1425.0   -5.0
141       C5-3         C5-3      656.0      661.0   -5.0
142        R4B          R4B    15604.0    15609.0   -5.0
143       C8-3         C8-3      330.0      335.0   -5.0
144       C6-1         C6-1      573.0      580.0   -7.0
145    M1-6/R9      M1-6/R9       21.0       28.0   -7.0
146       C8-2         C8-2     1044.0     1051.0   -7.0
147       C4-2         C4-2     1678.0     1687.0   -9.0
148       C1-9         C1-9     1000.0     1009.0   -9.0
149        R8B          R8B     8092.0     8103.0  -11.0
150       M1-2         M1-2     3424.0     3437.0  -13.0
151        R2A          R2A    38221.0    38234.0  -13.0
152       R10A         R10A      923.0      936.0  -13.0
153       R7-1         R7-1    14361.0    14375.0  -14.0
154         R8           R8     5175.0     5189.0  -14.0
155   M1-1/R7D     M1-1/R7D       22.0       37.0  -15.0
156       C4-3         C4-3     1853.0     1871.0  -18.0
157        R2X          R2X     1007.0     1026.0  -19.0
158      C4-4A        C4-4A     1261.0     1292.0  -31.0
159       R3-2         R3-2    63415.0    63462.0  -47.0
160        R5B          R5B    31643.0    31702.0  -59.0
161        R6A          R6A    16136.0    16197.0  -61.0
162         R4           R4    75975.0    76077.0 -102.0
163       M1-1         M1-1    13545.0    13697.0 -152.0
164       PARK         PARK     2818.0     3129.0 -311.0

### Commercial overlay

In [11]:
sql = f'''
    WITH newcount as (
    WITH olall as (
    SELECT overlay1 as overlay FROM {pluto}
    UNION ALL
    SELECT overlay2 as overlay FROM {pluto}
    )
    SELECT overlay, COUNT(*) 
    FROM olall
    GROUP BY overlay),
    prevcount as (
    WITH olall as (
    SELECT overlay1 as overlay FROM {plutoprev}
    UNION ALL
    SELECT overlay2 as overlay FROM {plutoprev})
    SELECT overlay, COUNT(*) 
    FROM olall
    GROUP BY overlay)
    SELECT a.overlay, b.overlay as overlayprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.overlay = b.overlay
    ORDER BY a.overlay;
'''

In [12]:
df = pd.read_sql(sql=sql, con=con)

In [13]:
df

   overlay overlayprev   countnew  countprev   diff
0     C1-1        C1-1     1587.0     1577.0   10.0
1     C1-2        C1-2    11031.0    11047.0  -16.0
2     C1-3        C1-3    13790.0    13775.0   15.0
3     C1-4        C1-4     8097.0     8110.0  -13.0
4     C1-5        C1-5     2547.0     2554.0   -7.0
5     C2-1        C2-1     1684.0     1683.0    1.0
6     C2-2        C2-2     6023.0     6112.0  -89.0
7     C2-3        C2-3    11952.0    11791.0  161.0
8     C2-4        C2-4    16727.0    16673.0   54.0
9     C2-5        C2-5     1523.0     1494.0   29.0
10    None        None        NaN  1643148.0    NaN
11    None        None  1643957.0        NaN    NaN

### Special purpose district

In [14]:
sql = f'''
    WITH newcount as (
    WITH sdall as (
    SELECT spdist1 as spdist FROM {pluto}
    UNION ALL
    SELECT spdist2 as spdist FROM {pluto}
    UNION ALL
    SELECT spdist3 as spdist FROM {pluto}
    )
    SELECT spdist, COUNT(*) 
    FROM sdall
    GROUP BY spdist),
    prevcount as (
     WITH sdall as (
    SELECT spdist1 as spdist FROM {plutoprev}
    UNION ALL
    SELECT spdist2 as spdist FROM {plutoprev}
    UNION ALL
    SELECT spdist3 as spdist FROM {plutoprev}
    )
    SELECT spdist, COUNT(*) 
    FROM sdall
    GROUP BY spdist)
    SELECT a.spdist, b.spdist as spdistprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.spdist = b.spdist
    ORDER BY diff DESC;
'''

In [15]:
df = pd.read_sql(sql=sql, con=con)

In [16]:
df[df['diff'] != 0]

   spdist spdistprev   countnew  countprev   diff
0     BSC       None       93.0        NaN    NaN
1    None       None        NaN  2475634.0    NaN
2    None       None  2476583.0        NaN    NaN
3   MX-20       None       11.0        NaN    NaN
4     SRD        SRD    43889.0    43518.0  371.0
5     LIC        LIC     1582.0     1553.0   29.0
6    NA-1       NA-1     2408.0     2391.0   17.0
7       C          C      437.0      421.0   16.0
8      SG         SG      227.0      225.0    2.0
9      CL         CL     1334.0     1333.0    1.0
10     PI         PI      452.0      451.0    1.0
11  MX-17      MX-17        4.0        3.0    1.0
12     WP         WP      133.0      132.0    1.0
13   EC-2       EC-2      385.0      384.0    1.0
14     CP         CP      223.0      222.0    1.0
62     CR         CR     3038.0     3039.0   -1.0
63      J          J      469.0      470.0   -1.0
64    MiD        MiD     1485.0     1486.0   -1.0
65     DB         DB      936.0      937.0   -1.0
66     CO         CO      177.0      178.0   -1.0
67  MX-13      MX-13       86.0       87.0   -1.0
68   EC-3       EC-3      206.0      207.0   -1.0
69     DJ         DJ     1563.0     1565.0   -2.0
70    HSQ        HSQ       94.0       96.0   -2.0
71   EC-5       EC-5      559.0      561.0   -2.0
72     CD         CD     1411.0     1413.0   -2.0
73     LM         LM      559.0      561.0   -2.0
74     MP         MP      373.0      376.0   -3.0
75     TA         TA      456.0      459.0   -3.0
76     HY         HY      289.0      292.0   -3.0
77    WCh        WCh      210.0      214.0   -4.0
78     OP         OP    13443.0    13448.0   -5.0
79   EC-1       EC-1      365.0      370.0   -5.0
80   MX-8       MX-8     1253.0     1258.0   -5.0
81    EHC        EHC      630.0      639.0   -9.0
82     HS         HS     6165.0     6174.0   -9.0

In [17]:
#Check spdist domain
unique_spdist = df.spdist.tolist()
spdist_domain = list(get_domain('spdist1', 'pluto_domains.json').keys())

In [18]:
# in domain not in pluto:
[i for i in spdist_domain if i not in unique_spdist]

['MX-3']

In [19]:
# in pluto not in domain:
[i for i in unique_spdist if i not in spdist_domain]

['BSC', None, None, 'MX-20', 'MX-16/EC-5', 'MX-16/EC-6', 'SW']

### Limited height

In [20]:
sql = f'''
    WITH newcount as (
    SELECT ltdheight, count(*)
    FROM {pluto}
    GROUP BY ltdheight),
    prevcount as (
    SELECT ltdheight, count(*)
    FROM {plutoprev}
    GROUP BY ltdheight)
    SELECT a.ltdheight, b.ltdheight as ltdheightprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.ltdheight = b.ltdheight
    ORDER BY a.ltdheight;
'''

In [21]:
df = pd.read_sql(sql=sql, con=con)

In [22]:
df

  ltdheight ltdheightprev  countnew  countprev  diff
0      LH-1          LH-1    2239.0     2239.0   0.0
1     LH-1A         LH-1A     797.0      797.0   0.0
2      None          None  856423.0        NaN   NaN
3      None          None       NaN   855946.0   NaN

In [23]:
#Check ltdheight domain
unique_ltdheight = df.ltdheight.tolist()
ltdheight_domain = list(get_domain('ltdheight', 'pluto_domains.json').keys())

In [24]:
# in domain not in pluto:
[i for i in ltdheight_domain if i not in unique_ltdheight]

['LH-2', 'LH-3']

In [25]:
# in pluto not in domain:
[i for i in unique_ltdheight if i not in ltdheight_domain]

[None, None]

### Building class

In [26]:
sql = f'''
    WITH newcount as (
    SELECT bldgclass, count(*)
    FROM {pluto}
    GROUP BY bldgclass),
    prevcount as (
    SELECT bldgclass, count(*)
    FROM {plutoprev}
    GROUP BY bldgclass)
    SELECT a.bldgclass, b.bldgclass as bldgclassprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.bldgclass = b.bldgclass
    ORDER BY diff DESC;
'''

In [27]:
df = pd.read_sql(sql=sql, con=con)

In [28]:
df[df['diff'] != 0]

    bldgclass bldgclassprev  countnew  countprev   diff
0        None          None       NaN      475.0    NaN
1        None          None     473.0        NaN    NaN
2          RP          None      31.0        NaN    NaN
3          RT          None       8.0        NaN    NaN
4          R4            R4    1341.0      947.0  394.0
5          R2            R2     554.0      398.0  156.0
6          R1            R1    1711.0     1562.0  149.0
7          C1            C1   15547.0    15414.0  133.0
8          A5            A5  100982.0   100854.0  128.0
9          V1            V1    6671.0     6558.0  113.0
10         RG            RG     106.0        1.0  105.0
11         RB            RB     196.0       94.0  102.0
12         B1            B1   85057.0    84963.0   94.0
13         A3            A3    7363.0     7292.0   71.0
14         R0            R0      79.0       22.0   57.0
15         RM            RM    3288.0     3240.0   48.0
16         R6            R6     619.0      584.0   35.0
17         A4            A4    4264.0     4239.0   25.0
18         R5            R5      34.0       10.0   24.0
19         Q9            Q9     285.0      262.0   23.0
20         U1            U1     182.0      161.0   21.0
21         RS            RS      21.0        2.0   19.0
22         C2            C2   13515.0    13498.0   17.0
23         A7            A7     439.0      423.0   16.0
24         RR            RR      53.0       37.0   16.0
25         RK            RK      31.0       17.0   14.0
26         V0            V0   20070.0    20056.0   14.0
27         D1            D1    5132.0     5120.0   12.0
28         D7            D7    2119.0     2108.0   11.0
29         R8            R8      10.0        1.0    9.0
30         U9            U9     338.0      330.0    8.0
31         Q6            Q6      72.0       65.0    7.0
32         H1            H1      76.0       69.0    7.0
33         S4            S4    2585.0     2578.0    7.0
34         H9            H9      73.0       67.0    6.0
35         S5            S5    2662.0     2656.0    6.0
36         Q1            Q1    1381.0     1376.0    5.0
37         R3            R3    1038.0     1033.0    5.0
38         V8            V8      48.0       43.0    5.0
39         H2            H2     138.0      133.0    5.0
40         K4            K4    6094.0     6090.0    4.0
41         G2            G2    2086.0     2082.0    4.0
42         G3            G3     186.0      182.0    4.0
43         K7            K7     427.0      423.0    4.0
44         O4            O4     410.0      406.0    4.0
45         O8            O8     675.0      671.0    4.0
46         O1            O1     458.0      455.0    3.0
47         M9            M9    1029.0     1026.0    3.0
48         O6            O6     864.0      861.0    3.0
49         D9            D9     566.0      563.0    3.0
50         RA            RA      19.0       16.0    3.0
51         H3            H3     310.0      307.0    3.0
52         E2            E2     368.0      365.0    3.0
53         Y1            Y1     235.0      233.0    2.0
54         D8            D8     147.0      145.0    2.0
55         P1            P1      16.0       14.0    2.0
56         GW            GW     147.0      145.0    2.0
57         Y4            Y4      28.0       26.0    2.0
58         H6            H6      26.0       24.0    2.0
59         W9            W9     408.0      406.0    2.0
60         D4            D4    3543.0     3541.0    2.0
61         D3            D3    1307.0     1305.0    2.0
62         P2            P2     167.0      166.0    1.0
63         Y6            Y6      60.0       59.0    1.0
64         D0            D0     264.0      263.0    1.0
65         HR            HR      57.0       56.0    1.0
66         HS            HS      40.0       39.0    1.0
67         I6            I6     179.0      178.0    1.0
68         K6            K6     258.0      257.0    1.0
69         S2            S2   14548.0    14547.0    1.0
70         O3            O3     118.0      117.0    1.0
71         P5            P5     289.0      288.0    1.0
72         P7            P7      93.0       92.0    1.0
73         Q7            Q7      28.0       27.0    1.0
139        D2            D2      74.0       75.0   -1.0
140        D5            D5     305.0      306.0   -1.0
141        F9            F9     557.0      558.0   -1.0
142        HB            HB      57.0       58.0   -1.0
143        I9            I9     265.0      266.0   -1.0
144        J2            J2       8.0        9.0   -1.0
145        J8            J8      18.0       19.0   -1.0
146        K3            K3      46.0       47.0   -1.0
147        K5            K5     565.0      566.0   -1.0
148        L1            L1      73.0       74.0   -1.0
149        L2            L2      26.0       27.0   -1.0
150        L3            L3      11.0       12.0   -1.0
151        N9            N9     292.0      293.0   -1.0
152        P3            P3      44.0       45.0   -1.0
153        T2            T2     190.0      191.0   -1.0
154        T9            T9      98.0       99.0   -1.0
155        V2            V2     139.0      140.0   -1.0
156        W7            W7      25.0       26.0   -1.0
157        Y7            Y7      28.0       29.0   -1.0
158        Z1            Z1      29.0       30.0   -1.0
159        Z4            Z4      70.0       71.0   -1.0
160        Z7            Z7     109.0      110.0   -1.0
161        N2            N2     310.0      312.0   -2.0
162        U7            U7     969.0      971.0   -2.0
163        G5            G5     158.0      160.0   -2.0
164        H8            H8      99.0      101.0   -2.0
165        C9            C9     409.0      411.0   -2.0
166        C6            C6    3281.0     3283.0   -2.0
167        M4            M4     137.0      139.0   -2.0
168        W6            W6     173.0      175.0   -2.0
169        P6            P6      77.0       79.0   -2.0
170        W3            W3     221.0      223.0   -2.0
171        D6            D6    1096.0     1098.0   -2.0
172        RC            RC     204.0      207.0   -3.0
173        M3            M3     538.0      541.0   -3.0
174        E7            E7     267.0      270.0   -3.0
175        F1            F1     481.0      484.0   -3.0
176        A6            A6     813.0      816.0   -3.0
177        O5            O5    1658.0     1661.0   -3.0
178        Q2            Q2     592.0      595.0   -3.0
179        I4            I4      43.0       47.0   -4.0
180        L9            L9     166.0      170.0   -4.0
181        Z0            Z0     394.0      398.0   -4.0
182        U0            U0      86.0       90.0   -4.0
183        I5            I5     357.0      361.0   -4.0
184        I1            I1     158.0      162.0   -4.0
185        U8            U8     100.0      105.0   -5.0
186        S0            S0     218.0      223.0   -5.0
187        W2            W2     577.0      583.0   -6.0
188        G8            G8     252.0      258.0   -6.0
189        O7            O7    1200.0     1206.0   -6.0
190        O2            O2    1447.0     1453.0   -6.0
191        G4            G4     382.0      389.0   -7.0
192        C4            C4    2946.0     2953.0   -7.0
193        L8            L8     314.0      321.0   -7.0
194        C3            C3   16217.0    16225.0   -8.0
195        S3            S3    3046.0     3055.0   -9.0
196        S9            S9    4240.0     4250.0  -10.0
197        F4            F4     953.0      964.0  -11.0
198        E9            E9    1673.0     1684.0  -11.0
199        U6            U6     569.0      580.0  -11.0
200        S1            S1    6074.0     6085.0  -11.0
201        M1            M1    3901.0     3913.0  -12.0
202        F5            F5    1540.0     1556.0  -16.0
203        A0            A0    8517.0     8534.0  -17.0
204        B2            B2   79163.0    79182.0  -19.0
205        E1            E1    3951.0     3971.0  -20.0
206        G0            G0    2537.0     2557.0  -20.0
207        K2            K2    3619.0     3640.0  -21.0
208        C5            C5    2529.0     2551.0  -22.0
209        K1            K1    7858.0     7882.0  -24.0
210        G6            G6     499.0      524.0  -25.0
211        G1            G1    1721.0     1755.0  -34.0
212        Z9            Z9    2253.0     2290.0  -37.0
213        B3            B3   60266.0    60306.0  -40.0
214        A9            A9   22753.0    22812.0  -59.0
215        A1            A1  123363.0   123430.0  -67.0
216        C0            C0   72995.0    73082.0  -87.0
217        RD            RD     139.0      228.0  -89.0
218        A2            A2   46332.0    46426.0  -94.0
219        B9            B9   25621.0    25725.0 -104.0
220        G7            G7    5290.0     5407.0 -117.0
221        Q0            Q0    1211.0     1574.0 -363.0

In [29]:
#Check bldgclass domain
unique_bldgclass = df.bldgclass.tolist()
bldgclass_domain = list(get_domain('bldgclass', 'pluto_domains.json').keys())

In [30]:
# in domain not in pluto:
[i for i in bldgclass_domain if i not in unique_bldgclass]

['A',
 'B',
 'C',
 'D',
 'E',
 'E3',
 'E4',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'R7',
 'S',
 'T',
 'U',
 'U3',
 'V',
 'W',
 'Y',
 'Z',
 'Z6']

In [31]:
# in pluto not in domain:
[i for i in unique_bldgclass if i not in bldgclass_domain]

[None, None]

### Land use

In [32]:
sql = f'''
    WITH newcount as (
    SELECT landuse, count(*)
    FROM {pluto}
    GROUP BY landuse),
    prevcount as (
    SELECT landuse, count(*)
    FROM {plutoprev}
    GROUP BY landuse)
    SELECT a.landuse, b.landuse as landuseprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.landuse = b.landuse
    ORDER BY a.landuse;
'''

In [33]:
df = pd.read_sql(sql=sql, con=con)

In [34]:
df[df['diff'] != 0]

   landuse landuseprev  countnew  countprev   diff
0       01        None  565356.0        NaN    NaN
1       02        None  131378.0        NaN    NaN
2       03        None   12846.0        NaN    NaN
3       04        None   54508.0        NaN    NaN
4       05        None   21482.0        NaN    NaN
5       06        None   10497.0        NaN    NaN
6       07        None    6335.0        NaN    NaN
7       08        None   12177.0        NaN    NaN
8       09        None    4017.0        NaN    NaN
9       10          10   10224.0    10284.0  -60.0
10      11          11   27715.0    27584.0  131.0
11    None        None    2924.0        NaN    NaN
12    None        None       NaN     2899.0    NaN
13    None           7       NaN     6331.0    NaN
14    None           6       NaN    10573.0    NaN
15    None           8       NaN    12210.0    NaN
16    None           4       NaN    54439.0    NaN
17    None           3       NaN    12519.0    NaN
18    None           2       NaN   131011.0    NaN
19    None           5       NaN    21354.0    NaN
20    None           9       NaN     4349.0    NaN
21    None           1       NaN   565429.0    NaN

In [35]:
#Check landuse domain
unique_landuse = df.landuse.tolist()
landuse_domain = list(get_domain('landuse', 'pluto_domains.json').keys())

In [36]:
# in domain not in pluto:
[i for i in landuse_domain if i not in unique_landuse]

[]

In [37]:
# in pluto not in domain:
[i for i in unique_landuse if i not in landuse_domain]

[None, None, None, None, None, None, None, None, None, None, None]

### Owner type

In [38]:
sql = f'''
    WITH newcount as (
    SELECT ownertype, count(*)
    FROM {pluto}
    GROUP BY ownertype),
    prevcount as (
    SELECT ownertype, count(*)
    FROM {plutoprev}
    GROUP BY ownertype)
    SELECT a.ownertype, b.ownertype as ownertypeprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.ownertype = b.ownertype
    ORDER BY a.ownertype;
'''

In [39]:
df = pd.read_sql(sql=sql, con=con)

In [40]:
df

  ownertype ownertypeprev  countnew  countprev    diff
0         C             C   11654.0    11676.0   -22.0
1         M             M      80.0       80.0     0.0
2         O             O    1373.0     1374.0    -1.0
3         P             P     522.0      523.0    -1.0
4         X             X   17414.0    21097.0 -3683.0
5      None          None       NaN   824232.0     NaN
6      None          None  828416.0        NaN     NaN

In [41]:
#Check ownertype domain
unique_ownertype = df.ownertype.tolist()
ownertype_domain = list(get_domain('ownertype', 'pluto_domains.json').keys())

In [42]:
# in domain not in pluto:
[i for i in ownertype_domain if i not in unique_ownertype]

['NaN']

In [43]:
# in pluto not in domain:
[i for i in unique_ownertype if i not in ownertype_domain]

[None, None]

### Area source

In [44]:
sql = f'''
    WITH newcount as (
    SELECT areasource, count(*)
    FROM {pluto}
    GROUP BY areasource),
    prevcount as (
    SELECT areasource, count(*)
    FROM {plutoprev}
    GROUP BY areasource)
    SELECT a.areasource, b.areasource as areasourceprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.areasource = b.areasource
    ORDER BY a.areasource;
'''

In [45]:
df = pd.read_sql(sql=sql, con=con)

In [46]:
df

  areasource areasourceprev  countnew  countprev    diff
0          0              0     136.0      724.0  -588.0
1          2              2  813263.0   813951.0  -688.0
2          4              4     182.0      316.0  -134.0
3          5           None      63.0        NaN     NaN
4          7              7   45342.0    43985.0  1357.0
5       None           None     473.0        NaN     NaN
6       None           None       NaN        6.0     NaN

In [47]:
#Check areasource domain
unique_areasource = df.areasource.tolist()
areasource_domain = list(get_domain('areasource', 'pluto_domains.json').keys())

In [48]:
# in domain not in pluto:
[i for i in areasource_domain if i not in unique_areasource]

[]

In [49]:
# in pluto not in domain:
[i for i in unique_areasource if i not in areasource_domain]

[None, None]

### Extension

In [50]:
sql = f'''
    WITH newcount as (
    SELECT ext, count(*)
    FROM {pluto}
    GROUP BY ext),
    prevcount as (
    SELECT ext, count(*)
    FROM {plutoprev}
    GROUP BY ext)
    SELECT a.ext, b.ext as extprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.ext = b.ext
    ORDER BY a.ext;
'''

In [51]:
df = pd.read_sql(sql=sql, con=con)

In [52]:
df

    ext extprev  countnew  countprev   diff
0     E       E   48335.0    48421.0  -86.0
1    EG      EG   36709.0    36748.0  -39.0
2     G       G  264413.0   264631.0 -218.0
3     N    None  451333.0        NaN    NaN
4  None    None   58669.0        NaN    NaN
5  None    None       NaN   509182.0    NaN

In [53]:
#Check extension domain
unique_extension = df.ext.tolist()
extension_domain = list(get_domain('ext', 'pluto_domains.json').keys())

In [54]:
# in domain not in pluto:
[i for i in extension_domain if i not in unique_extension]

[]

In [55]:
# in pluto not in domain:
[i for i in unique_extension if i not in extension_domain]

['N', None, None]

### Proxy code

In [56]:
sql = f'''
    WITH newcount as (
    SELECT proxcode, count(*)
    FROM {pluto}
    GROUP BY proxcode),
    prevcount as (
    SELECT proxcode, count(*)
    FROM {plutoprev}
    GROUP BY proxcode)
    SELECT a.proxcode, b.proxcode as proxcodeprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.proxcode = b.proxcode
    ORDER BY a.proxcode;
'''

In [57]:
df = pd.read_sql(sql=sql, con=con)

In [58]:
df

  proxcode proxcodeprev  countnew  countprev   diff
0        0            0  144832.0   144965.0 -133.0
1        1            1  313731.0   313530.0  201.0
2        2            2  199995.0   199818.0  177.0
3        3            3  200428.0   200194.0  234.0
4     None         None     473.0        NaN    NaN
5     None         None       NaN      475.0    NaN

In [59]:
#Check proxcode domain
unique_proxcode = df.proxcode.tolist()
proxcode_domain = list(get_domain('proxcode', 'pluto_domains.json').keys())

In [60]:
# in domain not in pluto:
[i for i in proxcode_domain if i not in unique_proxcode]

[]

In [61]:
# in pluto not in domain:
[i for i in unique_proxcode if i not in proxcode_domain]

[None, None]

### Lot type

In [62]:
sql = f'''
    WITH newcount as (
    SELECT lottype, count(*)
    FROM {pluto}
    GROUP BY lottype),
    prevcount as (
    SELECT lottype, count(*)
    FROM {plutoprev}
    GROUP BY lottype)
    SELECT a.lottype, b.lottype as lottypeprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.lottype = b.lottype
    ORDER BY a.lottype;
'''

In [63]:
df = pd.read_sql(sql=sql, con=con)

In [64]:
df

   lottype lottypeprev  countnew  countprev   diff
0        0           0    8534.0     8021.0  513.0
1        1           1    1456.0     1456.0    0.0
2        2           2    1827.0     1824.0    3.0
3        3           3  100674.0   100694.0  -20.0
4        4           4    3438.0     3394.0   44.0
5        5           5  738045.0   738121.0  -76.0
6        6           6    2228.0     2211.0   17.0
7        7           7      64.0       64.0    0.0
8        8           8    2530.0     2532.0   -2.0
9        9           9     190.0      190.0    0.0
10    None        None     473.0        NaN    NaN
11    None        None       NaN      475.0    NaN

In [65]:
#Check lottype domain
unique_lottype = df.lottype.tolist()
lottype_domain = list(get_domain('lottype', 'pluto_domains.json').keys())

In [66]:
# in domain not in pluto:
[i for i in lottype_domain if i not in unique_lottype]

[]

In [67]:
# in pluto not in domain:
[i for i in unique_lottype if i not in lottype_domain]

[None, None]

### Basement code

In [68]:
sql = f'''
    WITH newcount as (
    SELECT bsmtcode, count(*)
    FROM {pluto}
    GROUP BY bsmtcode),
    prevcount as (
    SELECT bsmtcode, count(*)
    FROM {plutoprev}
    GROUP BY bsmtcode)
    SELECT a.bsmtcode, b.bsmtcode as bsmtcodeprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.bsmtcode = b.bsmtcode
    ORDER BY a.bsmtcode;
'''

In [69]:
df = pd.read_sql(sql=sql, con=con)

In [70]:
df

  bsmtcode bsmtcodeprev  countnew  countprev    diff
0        0            0   74508.0    76021.0 -1513.0
1        1            1  153697.0   153580.0   117.0
2        2            2  495979.0   494733.0  1246.0
3        3            3    1498.0     1484.0    14.0
4        4            4    4705.0     4681.0    24.0
5        5            5  128599.0   128008.0   591.0
6     None         None     473.0        NaN     NaN
7     None         None       NaN      475.0     NaN

In [71]:
#Check bsmtcode domain
unique_bsmtcode = df.bsmtcode.tolist()
bsmtcode_domain = list(get_domain('bsmtcode', 'pluto_domains.json').keys())

In [72]:
# in domain not in pluto:
[i for i in bsmtcode_domain if i not in unique_bsmtcode]

[]

In [73]:
# in pluto not in domain:
[i for i in unique_bsmtcode if i not in bsmtcode_domain]

[None, None]

### PLUTO map id

In [74]:
sql = f'''
    WITH newcount as (
    SELECT plutomapid, count(*)
    FROM {pluto}
    GROUP BY plutomapid),
    prevcount as (
    SELECT plutomapid, count(*)
    FROM {plutoprev}
    GROUP BY plutomapid)
    SELECT a.plutomapid, b.plutomapid as plutomapidprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.plutomapid = b.plutomapid
    ORDER BY a.plutomapid;
'''

In [75]:
df = pd.read_sql(sql=sql, con=con)

In [76]:
df

  plutomapid plutomapidprev  countnew  countprev   diff
0          1              1  856861.0     856908  -47.0
1          2              2    1915.0       1237  678.0
2          3              3     469.0        466    3.0
3          4              4     210.0        211   -1.0
4          5              5       4.0          4    0.0
5       None           None       NaN        156    NaN

In [77]:
#Check plutomapid domain
unique_plutomapid = df.plutomapid.tolist()
plutomapid_domain = list(get_domain('plutomapid', 'pluto_domains.json').keys())

In [78]:
# in domain not in pluto:
[i for i in plutomapid_domain if i not in unique_plutomapid]

[]

In [79]:
# in pluto not in domain:
[i for i in unique_plutomapid if i not in plutomapid_domain]

[None]

#### done