In [1]:
# Import packages
import pandas as pd
from sqlalchemy import create_engine
import json
import os
import sys
sys.path.append(os.path.dirname(os.path.realpath('__file__'))+'/utils')
from versions import version_0, version_1, version_2
from engine import con
pd.set_option('display.max_rows', 200)

In [2]:
con = create_engine(os.getenv('EDM_DATA'))

In [3]:
# Build funtion to get the domains associated with a specific field
def get_domain(field, domain_path):
    with open(domain_path, "r") as domain:
        domain = json.load(domain)
    records = [i for i in domain['fields'] if i['field'] == field]
    if len(records) == 0: 
        print(f'cannot find field: {field} in domain table')
    else: 
        return records[0]['domain']

In [4]:
# Example
proxcode_domain = get_domain('proxcode', 'pluto_domains.json')
print(proxcode_domain)

{'0': 'Not Available', '1': 'Detached', '2': 'Semi-Attached', '3': 'Attached'}

In [5]:
# Example
proxcode_domain.keys()

dict_keys(['0', '1', '2', '3'])

In [6]:
# Specify latest PLUTO version
pluto = version_0
# Specify previous PLUTO version or the one you want to compare to
plutoprev = version_1

### Value check for the thirteen fields with expected domain values

##### includes summary statistics of unique value comparisions for the two PLUTO version, and lists of values that do not agree w/ domain list

### Zoning districts

In [7]:
sql = f'''
    WITH newcount as (
    WITH zdall as (
    SELECT zonedist1 as zonedist FROM {pluto}
    UNION ALL
    SELECT zonedist2 as zonedist FROM {pluto}
    UNION ALL
    SELECT zonedist3 as zonedist FROM {pluto}
    UNION ALL
    SELECT zonedist4 as zonedist FROM {pluto})
    SELECT zonedist, COUNT(*) 
    FROM zdall
    GROUP BY zonedist),
    prevcount as (
    WITH zdall as (
    SELECT zonedist1 as zonedist FROM {plutoprev}
    UNION ALL
    SELECT zonedist2 as zonedist FROM {plutoprev}
    UNION ALL
    SELECT zonedist3 as zonedist FROM {plutoprev}
    UNION ALL
    SELECT zonedist4 as zonedist FROM {plutoprev})
    SELECT zonedist, COUNT(*) 
    FROM zdall
    GROUP BY zonedist)
    SELECT a.zonedist, b.zonedist as zonedistprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.zonedist = b.zonedist
    ORDER BY diff DESC;
'''

In [8]:
df = pd.read_sql(sql=sql, con=con)

In [9]:
df[df['diff'] != 0]

      zonedist zonedistprev   countnew  countprev  diff
0         None         None  2559707.0        NaN   NaN
1         None         None        NaN  2567266.0   NaN
2          R3A          R3A    54903.0    54847.0  56.0
3         PARK         PARK     2836.0     2818.0  18.0
4         R3-2         R3-2    63448.0    63432.0  16.0
5          R3X          R3X    51710.0    51695.0  15.0
6         R3-1         R3-1    51502.0    51487.0  15.0
7         R4-1         R4-1    50693.0    50679.0  14.0
8         C4-2         C4-2     1684.0     1678.0   6.0
9           R2           R2    40163.0    40157.0   6.0
10          R4           R4    75992.0    75988.0   4.0
11        M3-1         M3-1     2555.0     2551.0   4.0
12         R7X          R7X      482.0      479.0   3.0
13     M1-3/R8      M1-3/R8       19.0       16.0   3.0
14        R7-2         R7-2     8081.0     8078.0   3.0
15          R8           R8     5170.0     5167.0   3.0
16         R7D          R7D      979.0      977.0   2.0
17          R9           R9      275.0      273.0   2.0
18       C4-3A        C4-3A      786.0      784.0   2.0
19        M2-1         M2-1     1833.0     1831.0   2.0
20         R7B          R7B     3685.0     3684.0   1.0
21          C3           C3      466.0      465.0   1.0
22        M2-3         M2-3       76.0       75.0   1.0
23        C2-8         C2-8      425.0      424.0   1.0
24        C6-4         C6-4      803.0      802.0   1.0
25        R1-1         R1-1     1681.0     1680.0   1.0
26         R5B          R5B    31637.0    31636.0   1.0
27    M1-4/R7A     M1-4/R7A      284.0      283.0   1.0
28        M2-2         M2-2        5.0        4.0   1.0
29         C3A          C3A      802.0      801.0   1.0
30         R4B          R4B    15605.0    15604.0   1.0
31       M1-5A        M1-5A      282.0      281.0   1.0
136        R8B          R8B     8087.0     8088.0  -1.0
137        R5A          R5A     4239.0     4240.0  -1.0
138       C1-9         C1-9      994.0      995.0  -1.0
139        R8X          R8X      179.0      180.0  -1.0
140      C4-4L        C4-4L      338.0      339.0  -1.0
141       C6-6         C6-6      281.0      282.0  -1.0
142        R9A          R9A      405.0      406.0  -1.0
143      M1-5B        M1-5B      592.0      593.0  -1.0
144       C8-3         C8-3      329.0      330.0  -1.0
145       C4-3         C4-3     1850.0     1851.0  -1.0
146       C4-7         C4-7      144.0      145.0  -1.0
147        R5D          R5D     5512.0     5514.0  -2.0
148       C6-3         C6-3      322.0      324.0  -2.0
149       C4-4         C4-4      933.0      935.0  -2.0
150      C1-9A        C1-9A      136.0      138.0  -2.0
151      C6-3A        C6-3A      315.0      317.0  -2.0
152       M1-3         M1-3      360.0      363.0  -3.0
153      C4-2A        C4-2A      949.0      953.0  -4.0
154  M1-1/R7-2    M1-1/R7-2      186.0      190.0  -4.0
155       C6-2         C6-2      795.0      799.0  -4.0
156       M1-1         M1-1    13518.0    13522.0  -4.0
157       R7-1         R7-1    14351.0    14356.0  -5.0
158       M1-2         M1-2     3416.0     3422.0  -6.0
159        R4A          R4A    26268.0    26276.0  -8.0
160         R5           R5    91400.0    91409.0  -9.0
161       M1-5         M1-5      393.0      403.0 -10.0
162        R7A          R7A    11594.0    11604.0 -10.0
163        R6B          R6B    52457.0    52487.0 -30.0
164         R6           R6    68889.0    68922.0 -33.0

### Commercial overlay

In [10]:
sql = f'''
    WITH newcount as (
    WITH olall as (
    SELECT overlay1 as overlay FROM {pluto}
    UNION ALL
    SELECT overlay2 as overlay FROM {pluto}
    )
    SELECT overlay, COUNT(*) 
    FROM olall
    GROUP BY overlay),
    prevcount as (
    WITH olall as (
    SELECT overlay1 as overlay FROM {plutoprev}
    UNION ALL
    SELECT overlay2 as overlay FROM {plutoprev})
    SELECT overlay, COUNT(*) 
    FROM olall
    GROUP BY overlay)
    SELECT a.overlay, b.overlay as overlayprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.overlay = b.overlay
    ORDER BY a.overlay;
'''

In [11]:
df = pd.read_sql(sql=sql, con=con)

In [12]:
df

   overlay overlayprev   countnew  countprev  diff
0     C1-1        C1-1     1591.0     1590.0   1.0
1     C1-2        C1-2    11052.0    11031.0  21.0
2     C1-3        C1-3    13796.0    13805.0  -9.0
3     C1-4        C1-4     8094.0     8093.0   1.0
4     C1-5        C1-5     2541.0     2541.0   0.0
5     C2-1        C2-1     1681.0     1682.0  -1.0
6     C2-2        C2-2     5995.0     6024.0 -29.0
7     C2-3        C2-3    11936.0    11946.0 -10.0
8     C2-4        C2-4    16731.0    16728.0   3.0
9     C2-5        C2-5     1525.0     1523.0   2.0
10    None        None        NaN  1647143.0   NaN
11    None        None  1643402.0        NaN   NaN

### Special purpose district

In [13]:
sql = f'''
    WITH newcount as (
    WITH sdall as (
    SELECT spdist1 as spdist FROM {pluto}
    UNION ALL
    SELECT spdist2 as spdist FROM {pluto}
    UNION ALL
    SELECT spdist3 as spdist FROM {pluto}
    )
    SELECT spdist, COUNT(*) 
    FROM sdall
    GROUP BY spdist),
    prevcount as (
     WITH sdall as (
    SELECT spdist1 as spdist FROM {plutoprev}
    UNION ALL
    SELECT spdist2 as spdist FROM {plutoprev}
    UNION ALL
    SELECT spdist3 as spdist FROM {plutoprev}
    )
    SELECT spdist, COUNT(*) 
    FROM sdall
    GROUP BY spdist)
    SELECT a.spdist, b.spdist as spdistprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.spdist = b.spdist
    ORDER BY diff DESC;
'''

In [14]:
df = pd.read_sql(sql=sql, con=con)

In [15]:
df[df['diff'] != 0]

   spdist spdistprev   countnew  countprev  diff
0    None       None        NaN  2481371.0   NaN
1    None       None  2475728.0        NaN   NaN
2     SRD        SRD    43921.0    43902.0  19.0
3      DB         DB      935.0      933.0   2.0
4    NA-1       NA-1     2410.0     2408.0   2.0
5     HRW        HRW       36.0       34.0   2.0
6      IN         IN      202.0      201.0   1.0
74     DJ         DJ     1562.0     1563.0  -1.0
75      J          J      468.0      469.0  -1.0
76    MiD        MiD     1485.0     1486.0  -1.0
77    DFR        DFR      216.0      217.0  -1.0
78     BR         BR     9704.0     9706.0  -2.0
79     HS         HS     6164.0     6167.0  -3.0
80     OP         OP    13437.0    13440.0  -3.0
81   MX-7       MX-7      186.0      190.0  -4.0
82    WCh        WCh      206.0      210.0  -4.0
83     HY         HY      284.0      290.0  -6.0

In [16]:
#Check spdist domain
unique_spdist = df.spdist.tolist()
spdist_domain = list(get_domain('spdist1', 'pluto_domains.json').keys())

In [17]:
# in domain not in pluto:
[i for i in spdist_domain if i not in unique_spdist]

['MX-3']

In [18]:
# in pluto not in domain:
[i for i in unique_spdist if i not in spdist_domain]

[None, None, 'MX-16/EC-5', 'BSC', 'MX-20', 'MX-16/EC-6', 'MX-18', 'SW']

### Limited height

In [19]:
sql = f'''
    WITH newcount as (
    SELECT ltdheight, count(*)
    FROM {pluto}
    GROUP BY ltdheight),
    prevcount as (
    SELECT ltdheight, count(*)
    FROM {plutoprev}
    GROUP BY ltdheight)
    SELECT a.ltdheight, b.ltdheight as ltdheightprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.ltdheight = b.ltdheight
    ORDER BY a.ltdheight;
'''

In [20]:
df = pd.read_sql(sql=sql, con=con)

In [21]:
df

  ltdheight ltdheightprev  countnew  countprev  diff
0      LH-1          LH-1    2239.0     2239.0   0.0
1     LH-1A         LH-1A     797.0      797.0   0.0
2      None          None  856136.0        NaN   NaN
3      None          None       NaN   858017.0   NaN

In [22]:
#Check ltdheight domain
unique_ltdheight = df.ltdheight.tolist()
ltdheight_domain = list(get_domain('ltdheight', 'pluto_domains.json').keys())

In [23]:
# in domain not in pluto:
[i for i in ltdheight_domain if i not in unique_ltdheight]

['LH-2', 'LH-3']

In [24]:
# in pluto not in domain:
[i for i in unique_ltdheight if i not in ltdheight_domain]

[None, None]

### Building class

In [25]:
sql = f'''
    WITH newcount as (
    SELECT bldgclass, count(*)
    FROM {pluto}
    GROUP BY bldgclass),
    prevcount as (
    SELECT bldgclass, count(*)
    FROM {plutoprev}
    GROUP BY bldgclass)
    SELECT a.bldgclass, b.bldgclass as bldgclassprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.bldgclass = b.bldgclass
    ORDER BY diff DESC;
'''

In [26]:
df = pd.read_sql(sql=sql, con=con)

In [27]:
df[df['diff'] != 0]

    bldgclass bldgclassprev  countnew  countprev    diff
0        None          None       NaN      429.0     NaN
1        None          None     400.0        NaN     NaN
2        None            L2       NaN        1.0     NaN
3        None            L3       NaN        3.0     NaN
4        None            L8       NaN       12.0     NaN
5        None            L9       NaN       23.0     NaN
6          C1            C1   15707.0    15584.0   123.0
7          V1            V1    6838.0     6731.0   107.0
8          B2            B2   79511.0    79407.0   104.0
9          B3            B3   60421.0    60349.0    72.0
10         R0            R0     204.0      136.0    68.0
11         D6            D6    1178.0     1111.0    67.0
12         A5            A5  102515.0   102449.0    66.0
13         A3            A3    7509.0     7446.0    63.0
14         D7            D7    2225.0     2169.0    56.0
15         G2            G2    2142.0     2096.0    46.0
16         D1            D1    5174.0     5134.0    40.0
17         D3            D3    1355.0     1318.0    37.0
18         B1            B1   85161.0    85135.0    26.0
19         C2            C2   13546.0    13524.0    22.0
20         H3            H3     330.0      312.0    18.0
21         E2            E2     402.0      385.0    17.0
22         A4            A4    4278.0     4265.0    13.0
23         C7            C7    7773.0     7760.0    13.0
24         E7            E7     277.0      265.0    12.0
25         Q0            Q0    1218.0     1208.0    10.0
26         A7            A7     455.0      445.0    10.0
27         C0            C0   73021.0    73011.0    10.0
28         S4            S4    2599.0     2591.0     8.0
29         O6            O6     960.0      952.0     8.0
30         O5            O5    1758.0     1750.0     8.0
31         GU            GU     142.0      134.0     8.0
32         K7            K7     436.0      429.0     7.0
33         O9            O9     187.0      180.0     7.0
34         K4            K4    6376.0     6369.0     7.0
35         H2            H2     147.0      141.0     6.0
36         O8            O8     686.0      681.0     5.0
37         F9            F9     570.0      565.0     5.0
38         G6            G6     493.0      489.0     4.0
39         RK            RK      46.0       43.0     3.0
40         S9            S9    4252.0     4249.0     3.0
41         C3            C3   16216.0    16213.0     3.0
42         S5            S5    2669.0     2666.0     3.0
43         RB            RB     112.0      109.0     3.0
44         D8            D8     149.0      147.0     2.0
45         O7            O7    1207.0     1205.0     2.0
46         Q1            Q1    1394.0     1392.0     2.0
47         RA            RA      23.0       21.0     2.0
48         HB            HB      60.0       58.0     2.0
49         W1            W1    1211.0     1209.0     2.0
50         H1            H1      77.0       76.0     1.0
51         RH            RH      14.0       13.0     1.0
52         P8            P8     210.0      209.0     1.0
53         RW            RW      10.0        9.0     1.0
54         V7            V7      38.0       37.0     1.0
55         Q2            Q2     595.0      594.0     1.0
56         D5            D5     306.0      305.0     1.0
57         W3            W3     222.0      221.0     1.0
58         I6            I6     179.0      178.0     1.0
59         V9            V9     501.0      500.0     1.0
60         P9            P9     180.0      179.0     1.0
137        Q9            Q9     293.0      294.0    -1.0
138        F8            F8      24.0       25.0    -1.0
139        C6            C6    3283.0     3284.0    -1.0
140        Z0            Z0     396.0      397.0    -1.0
141        O4            O4     414.0      415.0    -1.0
142        O1            O1     456.0      457.0    -1.0
143        N2            N2     310.0      311.0    -1.0
144        M4            M4     136.0      137.0    -1.0
145        M3            M3     535.0      536.0    -1.0
146        P1            P1      15.0       16.0    -1.0
147        P2            P2     166.0      167.0    -1.0
148        P3            P3      42.0       43.0    -1.0
149        RC            RC     206.0      207.0    -1.0
150        P5            P5     288.0      289.0    -1.0
151        T2            T2     189.0      190.0    -1.0
152        P7            P7      94.0       95.0    -1.0
153        M2            M2      56.0       57.0    -1.0
154        I7            I7     204.0      205.0    -1.0
155        HR            HR      56.0       57.0    -1.0
156        HH            HH      19.0       20.0    -1.0
157        W9            W9     410.0      411.0    -1.0
158        Q3            Q3      31.0       32.0    -1.0
159        Z5            Z5       6.0        7.0    -1.0
160        D2            D2      73.0       74.0    -1.0
161        C4            C4    2943.0     2944.0    -1.0
162        R9            R9      13.0       14.0    -1.0
163        D0            D0     268.0      269.0    -1.0
164        S3            S3    3044.0     3046.0    -2.0
165        C9            C9     407.0      409.0    -2.0
166        G4            G4     380.0      382.0    -2.0
167        G5            G5     156.0      158.0    -2.0
168        I9            I9     265.0      267.0    -2.0
169        O2            O2    1448.0     1450.0    -2.0
170        S0            S0     218.0      220.0    -2.0
171        Y4            Y4      26.0       28.0    -2.0
172        GW            GW     146.0      149.0    -3.0
173        RD            RD     138.0      141.0    -3.0
174        RP            RP      10.0       13.0    -3.0
175        K1            K1    7838.0     7841.0    -3.0
176        K5            K5     556.0      559.0    -3.0
177        V2            V2     138.0      141.0    -3.0
178        K8            K8      45.0       49.0    -4.0
179        W2            W2     575.0      579.0    -4.0
180        N9            N9     288.0      292.0    -4.0
181        I5            I5     347.0      351.0    -4.0
182        R8            R8       3.0        7.0    -4.0
183        H4            H4     121.0      126.0    -5.0
184        V3            V3     179.0      184.0    -5.0
185        A6            A6     785.0      790.0    -5.0
186        S2            S2   14570.0    14576.0    -6.0
187        S1            S1    6083.0     6089.0    -6.0
188        R5            R5      54.0       60.0    -6.0
189        M1            M1    3897.0     3903.0    -6.0
190        K9            K9     172.0      178.0    -6.0
191        K2            K2    3580.0     3586.0    -6.0
192        F1            F1     474.0      480.0    -6.0
193        D4            D4    3535.0     3543.0    -8.0
194        G0            G0    2521.0     2529.0    -8.0
195        RS            RS      12.0       21.0    -9.0
196        D9            D9     558.0      567.0    -9.0
197        A0            A0    8476.0     8486.0   -10.0
198        R6            R6     615.0      625.0   -10.0
199        C5            C5    2511.0     2521.0   -10.0
200        E1            E1    3937.0     3948.0   -11.0
201        RM            RM    3309.0     3322.0   -13.0
202        G9            G9     500.0      515.0   -15.0
203        F4            F4     931.0      947.0   -16.0
204        B9            B9   25639.0    25655.0   -16.0
205        G7            G7    5304.0     5322.0   -18.0
206        Z9            Z9    2230.0     2248.0   -18.0
207        E9            E9    1655.0     1674.0   -19.0
208        F5            F5    1514.0     1534.0   -20.0
209        A1            A1  123258.0   123279.0   -21.0
210        R3            R3    1024.0     1052.0   -28.0
211        RR            RR      39.0       68.0   -29.0
212        A9            A9   21122.0    21179.0   -57.0
213        G1            G1    1619.0     1707.0   -88.0
214        RG            RG      15.0      160.0  -145.0
215        R1            R1    1702.0     1852.0  -150.0
216        A2            A2   46004.0    46181.0  -177.0
217        V0            V0   19645.0    19884.0  -239.0
218        R2            R2     414.0      953.0  -539.0
219        R4            R4    1061.0     2164.0 -1103.0

In [28]:
#Check bldgclass domain
unique_bldgclass = df.bldgclass.tolist()
bldgclass_domain = list(get_domain('bldgclass', 'pluto_domains.json').keys())

In [29]:
# in domain not in pluto:
[i for i in bldgclass_domain if i not in unique_bldgclass]

['A',
 'B',
 'C',
 'D',
 'E',
 'E3',
 'E4',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'L1',
 'L2',
 'L3',
 'L8',
 'L9',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'R7',
 'RT',
 'S',
 'T',
 'U',
 'U3',
 'V',
 'W',
 'Y',
 'Z',
 'Z6']

In [30]:
# in pluto not in domain:
[i for i in unique_bldgclass if i not in bldgclass_domain]

[None, None, None, None, None, None]

### Land use

In [31]:
sql = f'''
    WITH newcount as (
    SELECT landuse, count(*)
    FROM {pluto}
    GROUP BY landuse),
    prevcount as (
    SELECT landuse, count(*)
    FROM {plutoprev}
    GROUP BY landuse)
    SELECT a.landuse, b.landuse as landuseprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.landuse = b.landuse
    ORDER BY a.landuse;
'''

In [32]:
df = pd.read_sql(sql=sql, con=con)

In [33]:
df[df['diff'] != 0]

   landuse landuseprev  countnew  countprev    diff
0       01          01  565559.0   565492.0    67.0
1       02          02  131406.0   131989.0  -583.0
2       03          03   12645.0    13690.0 -1045.0
3       04          04   55063.0    54964.0    99.0
4       05          05   21630.0    21609.0    21.0
5       06          06    9877.0     9954.0   -77.0
6       07          07    6341.0     6315.0    26.0
7       08          08   12167.0    12192.0   -25.0
8       09          09    4045.0     4034.0    11.0
9       10          10   10002.0    10260.0  -258.0
10      11          11   27434.0    27572.0  -138.0
11    None        None    3003.0        NaN     NaN
12    None        None       NaN     2982.0     NaN

In [34]:
#Check landuse domain
unique_landuse = df.landuse.tolist()
landuse_domain = list(get_domain('landuse', 'pluto_domains.json').keys())

In [35]:
# in domain not in pluto:
[i for i in landuse_domain if i not in unique_landuse]

[]

In [36]:
# in pluto not in domain:
[i for i in unique_landuse if i not in landuse_domain]

[None, None]

### Owner type

In [37]:
sql = f'''
    WITH newcount as (
    SELECT ownertype, count(*)
    FROM {pluto}
    GROUP BY ownertype),
    prevcount as (
    SELECT ownertype, count(*)
    FROM {plutoprev}
    GROUP BY ownertype)
    SELECT a.ownertype, b.ownertype as ownertypeprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.ownertype = b.ownertype
    ORDER BY a.ownertype;
'''

In [38]:
df = pd.read_sql(sql=sql, con=con)

In [39]:
df

  ownertype ownertypeprev  countnew  countprev    diff
0         C             C   11654.0    11654.0     0.0
1         M             M      80.0       80.0     0.0
2         O             O    1373.0     1373.0     0.0
3         P             P     522.0      522.0     0.0
4         X             X   18244.0    19988.0 -1744.0
5      None          None  827299.0        NaN     NaN
6      None          None       NaN   827436.0     NaN

In [40]:
#Check ownertype domain
unique_ownertype = df.ownertype.tolist()
ownertype_domain = list(get_domain('ownertype', 'pluto_domains.json').keys())

In [41]:
# in domain not in pluto:
[i for i in ownertype_domain if i not in unique_ownertype]

['NaN']

In [42]:
# in pluto not in domain:
[i for i in unique_ownertype if i not in ownertype_domain]

[None, None]

### Area source

In [43]:
sql = f'''
    WITH newcount as (
    SELECT areasource, count(*)
    FROM {pluto}
    GROUP BY areasource),
    prevcount as (
    SELECT areasource, count(*)
    FROM {plutoprev}
    GROUP BY areasource)
    SELECT a.areasource, b.areasource as areasourceprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.areasource = b.areasource
    ORDER BY a.areasource;
'''

In [44]:
df = pd.read_sql(sql=sql, con=con)

In [45]:
df

  areasource areasourceprev  countnew  countprev    diff
0          0              0     240.0      163.0    77.0
1          2              2  814949.0   816705.0 -1756.0
2          4              4     340.0      259.0    81.0
3          5              5     182.0      119.0    63.0
4          7              7   43061.0    43378.0  -317.0
5       None           None     400.0        NaN     NaN
6       None           None       NaN      429.0     NaN

In [46]:
#Check areasource domain
unique_areasource = df.areasource.tolist()
areasource_domain = list(get_domain('areasource', 'pluto_domains.json').keys())

In [47]:
# in domain not in pluto:
[i for i in areasource_domain if i not in unique_areasource]

[]

In [48]:
# in pluto not in domain:
[i for i in unique_areasource if i not in areasource_domain]

[None, None]

### Extension

In [49]:
sql = f'''
    WITH newcount as (
    SELECT ext, count(*)
    FROM {pluto}
    GROUP BY ext),
    prevcount as (
    SELECT ext, count(*)
    FROM {plutoprev}
    GROUP BY ext)
    SELECT a.ext, b.ext as extprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.ext = b.ext
    ORDER BY a.ext;
'''

In [50]:
df = pd.read_sql(sql=sql, con=con)

In [51]:
df

    ext extprev  countnew  countprev   diff
0     E       E   48315.0    48333.0  -18.0
1    EG      EG   36674.0    36692.0  -18.0
2     G       G  264306.0   264441.0 -135.0
3     N       N  451337.0   451458.0 -121.0
4  None    None   58540.0        NaN    NaN
5  None    None       NaN    60129.0    NaN

In [52]:
#Check extension domain
unique_extension = df.ext.tolist()
extension_domain = list(get_domain('ext', 'pluto_domains.json').keys())

In [53]:
# in domain not in pluto:
[i for i in extension_domain if i not in unique_extension]

[]

In [54]:
# in pluto not in domain:
[i for i in unique_extension if i not in extension_domain]

['N', None, None]

### Proxy code

In [55]:
sql = f'''
    WITH newcount as (
    SELECT proxcode, count(*)
    FROM {pluto}
    GROUP BY proxcode),
    prevcount as (
    SELECT proxcode, count(*)
    FROM {plutoprev}
    GROUP BY proxcode)
    SELECT a.proxcode, b.proxcode as proxcodeprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.proxcode = b.proxcode
    ORDER BY a.proxcode;
'''

In [56]:
df = pd.read_sql(sql=sql, con=con)

In [57]:
df

  proxcode proxcodeprev  countnew  countprev    diff
0        0            0  143654.0   145130.0 -1476.0
1        1            1  313835.0   314015.0  -180.0
2        2            2  200381.0   200468.0   -87.0
3        3            3  200902.0   201011.0  -109.0
4     None         None     400.0        NaN     NaN
5     None         None       NaN      429.0     NaN

In [58]:
#Check proxcode domain
unique_proxcode = df.proxcode.tolist()
proxcode_domain = list(get_domain('proxcode', 'pluto_domains.json').keys())

In [59]:
# in domain not in pluto:
[i for i in proxcode_domain if i not in unique_proxcode]

[]

In [60]:
# in pluto not in domain:
[i for i in unique_proxcode if i not in proxcode_domain]

[None, None]

### Lot type

In [61]:
sql = f'''
    WITH newcount as (
    SELECT lottype, count(*)
    FROM {pluto}
    GROUP BY lottype),
    prevcount as (
    SELECT lottype, count(*)
    FROM {plutoprev}
    GROUP BY lottype)
    SELECT a.lottype, b.lottype as lottypeprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.lottype = b.lottype
    ORDER BY a.lottype;
'''

In [62]:
df = pd.read_sql(sql=sql, con=con)

In [63]:
df

   lottype lottypeprev  countnew  countprev    diff
0        0           0    8929.0    10419.0 -1490.0
1        1           1    1461.0     1456.0     5.0
2        2           2    1825.0     1826.0    -1.0
3        3           3  100646.0   100645.0     1.0
4        4           4    3409.0     3411.0    -2.0
5        5           5  737505.0   737857.0  -352.0
6        6           6    2222.0     2229.0    -7.0
7        7           7      63.0       63.0     0.0
8        8           8    2522.0     2528.0    -6.0
9        9           9     190.0      190.0     0.0
10    None        None     400.0        NaN     NaN
11    None        None       NaN      429.0     NaN

In [64]:
#Check lottype domain
unique_lottype = df.lottype.tolist()
lottype_domain = list(get_domain('lottype', 'pluto_domains.json').keys())

In [65]:
# in domain not in pluto:
[i for i in lottype_domain if i not in unique_lottype]

[]

In [66]:
# in pluto not in domain:
[i for i in unique_lottype if i not in lottype_domain]

[None, None]

### Basement code

In [67]:
sql = f'''
    WITH newcount as (
    SELECT bsmtcode, count(*)
    FROM {pluto}
    GROUP BY bsmtcode),
    prevcount as (
    SELECT bsmtcode, count(*)
    FROM {plutoprev}
    GROUP BY bsmtcode)
    SELECT a.bsmtcode, b.bsmtcode as bsmtcodeprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.bsmtcode = b.bsmtcode
    ORDER BY a.bsmtcode;
'''

In [68]:
df = pd.read_sql(sql=sql, con=con)

In [69]:
df

  bsmtcode bsmtcodeprev  countnew  countprev    diff
0        0            0   74328.0    74405.0   -77.0
1        1            1  153621.0   153648.0   -27.0
2        2            2  496102.0   495983.0   119.0
3        3            3    1518.0     1511.0     7.0
4        4            4    4731.0     4723.0     8.0
5        5            5  128472.0   130354.0 -1882.0
6     None         None     400.0        NaN     NaN
7     None         None       NaN      429.0     NaN

In [70]:
#Check bsmtcode domain
unique_bsmtcode = df.bsmtcode.tolist()
bsmtcode_domain = list(get_domain('bsmtcode', 'pluto_domains.json').keys())

In [71]:
# in domain not in pluto:
[i for i in bsmtcode_domain if i not in unique_bsmtcode]

[]

In [72]:
# in pluto not in domain:
[i for i in unique_bsmtcode if i not in bsmtcode_domain]

[None, None]

### PLUTO map id

In [73]:
sql = f'''
    WITH newcount as (
    SELECT plutomapid, count(*)
    FROM {pluto}
    GROUP BY plutomapid),
    prevcount as (
    SELECT plutomapid, count(*)
    FROM {plutoprev}
    GROUP BY plutomapid)
    SELECT a.plutomapid, b.plutomapid as plutomapidprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.plutomapid = b.plutomapid
    ORDER BY a.plutomapid;
'''

In [74]:
df = pd.read_sql(sql=sql, con=con)

In [75]:
df

  plutomapid plutomapidprev  countnew  countprev  diff
0          1              1    856830     856853   -23
1          2              2      1731       3561 -1830
2          3              3       396        425   -29
3          4              4       211        210     1
4          5              5         4          4     0

In [76]:
#Check plutomapid domain
unique_plutomapid = df.plutomapid.tolist()
plutomapid_domain = list(get_domain('plutomapid', 'pluto_domains.json').keys())

In [77]:
# in domain not in pluto:
[i for i in plutomapid_domain if i not in unique_plutomapid]

[]

In [78]:
# in pluto not in domain:
[i for i in unique_plutomapid if i not in plutomapid_domain]

[]

#### done