In [240]:
# Import packages
import pandas as pd
from sqlalchemy import create_engine
import json
import os

pd.set_option('display.max_rows', 200)

In [241]:
%load_ext dotenv
%dotenv ../.env

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [242]:
con = create_engine(os.getenv('EDM_DATA'))

In [243]:
# Build funtion to get the domains associated with a specific field
def get_domain(field, domain_path):
    with open(domain_path, "r") as domain:
        domain = json.load(domain)
    records = [i for i in domain['fields'] if i['field'] == field]
    if len(records) == 0: 
        print(f'cannot find field: {field} in domain table')
    else: 
        return records[0]['domain']

In [244]:
# Example
proxcode_domain = get_domain('proxcode', 'pluto_domains.json')
print(proxcode_domain)

{'0': 'Not Available', '1': 'Detached', '2': 'Semi-Attached', '3': 'Attached'}

In [245]:
# Example
proxcode_domain.keys()

dict_keys(['0', '1', '2', '3'])

In [246]:
# Specify latest PLUTO version
pluto = 'dcp_pluto."19v2_wo_corrections"'
# Specify previous PLUTO version or the one you want to compare to
plutoprev = 'dcp_pluto."19v1"'

### Value check for the thirteen fields with expected domain values

##### includes summary statistics of unique value comparisions for the two PLUTO version, and lists of values that do not agree w/ domain list

### Zoning districts

In [247]:
sql = f'''
    WITH newcount as (
    WITH zdall as (
    SELECT zonedist1 as zonedist FROM {pluto}
    UNION ALL
    SELECT zonedist2 as zonedist FROM {pluto}
    UNION ALL
    SELECT zonedist3 as zonedist FROM {pluto}
    UNION ALL
    SELECT zonedist4 as zonedist FROM {pluto})
    SELECT zonedist, COUNT(*) 
    FROM zdall
    GROUP BY zonedist),
    prevcount as (
    WITH zdall as (
    SELECT zonedist1 as zonedist FROM {plutoprev}
    UNION ALL
    SELECT zonedist2 as zonedist FROM {plutoprev}
    UNION ALL
    SELECT zonedist3 as zonedist FROM {plutoprev}
    UNION ALL
    SELECT zonedist4 as zonedist FROM {plutoprev})
    SELECT zonedist, COUNT(*) 
    FROM zdall
    GROUP BY zonedist)
    SELECT a.zonedist, b.zonedist as zonedistprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.zonedist = b.zonedist
    ORDER BY diff DESC;
'''

In [248]:
df = pd.read_sql(sql=sql, con=con)

In [249]:
df[df['diff'] != 0]

     zonedist zonedistprev   countnew  countprev   diff
0        None         None        NaN  2560881.0    NaN
1        None         None  2567266.0        NaN    NaN
2         R2X          R2X     1385.0     1007.0  378.0
3         R6A          R6A    16168.0    16136.0   32.0
4        R3-1         R3-1    51487.0    51470.0   17.0
5        R3-2         R3-2    63432.0    63415.0   17.0
6         R3X          R3X    51695.0    51678.0   17.0
7          R4           R4    75988.0    75975.0   13.0
8        R4-1         R4-1    50679.0    50669.0   10.0
9         R3A          R3A    54847.0    54837.0   10.0
10      C1-9A        C1-9A      138.0      134.0    4.0
11        C3A          C3A      801.0      799.0    2.0
12       C6-1         C6-1      575.0      573.0    2.0
13       R1-2         R1-2    14433.0    14432.0    1.0
14   M1-5/R8A     M1-5/R8A       34.0       33.0    1.0
15   M1-4/R7X     M1-4/R7X       34.0       33.0    1.0
16        R5A          R5A     4240.0     4239.0    1.0
17       C5-P         C5-P       84.0       83.0    1.0
18       M2-1         M2-1     1831.0     1830.0    1.0
19       C6-2         C6-2      799.0      798.0    1.0
20       C8-1         C8-1     2243.0     2242.0    1.0
127       R5D          R5D     5514.0     5515.0   -1.0
128  M1-4/R6A     M1-4/R6A      219.0      220.0   -1.0
129     M1-1D        M1-1D      373.0      374.0   -1.0
130       R7X          R7X      479.0      480.0   -1.0
131      C8-2         C8-2     1043.0     1044.0   -1.0
132     C6-4X        C6-4X       88.0       89.0   -1.0
133       R10          R10     1132.0     1133.0   -1.0
134     C6-4M        C6-4M      183.0      184.0   -1.0
135   M1-2/R6      M1-2/R6      259.0      260.0   -1.0
136       R7B          R7B     3684.0     3685.0   -1.0
137     C2-8A        C2-8A      125.0      126.0   -1.0
138     C4-6A        C4-6A      220.0      221.0   -1.0
139     C6-2A        C6-2A     1475.0     1477.0   -2.0
140       R7D          R7D      977.0      979.0   -2.0
141      C4-3         C4-3     1851.0     1853.0   -2.0
142        R5           R5    91409.0    91411.0   -2.0
143      M1-2         M1-2     3422.0     3424.0   -2.0
144      R10A         R10A      921.0      923.0   -2.0
145     R1-2A        R1-2A     1587.0     1590.0   -3.0
146      C5-1         C5-1      325.0      328.0   -3.0
147     C4-2A        C4-2A      953.0      956.0   -3.0
148     C1-8X        C1-8X      344.0      347.0   -3.0
149      C6-4         C6-4      802.0      806.0   -4.0
150      M3-1         M3-1     2551.0     2555.0   -4.0
151       R8B          R8B     8088.0     8092.0   -4.0
152       R7A          R7A    11604.0    11609.0   -5.0
153      R7-1         R7-1    14356.0    14361.0   -5.0
154      C1-9         C1-9      995.0     1000.0   -5.0
155       R8A          R8A     1770.0     1776.0   -6.0
156  M1-4/R8A     M1-4/R8A       59.0       65.0   -6.0
157       R6B          R6B    52487.0    52493.0   -6.0
158      R7-2         R7-2     8078.0     8085.0   -7.0
159       R5B          R5B    31636.0    31643.0   -7.0
160        R8           R8     5167.0     5175.0   -8.0
161     C4-4L        C4-4L      339.0      347.0   -8.0
162        R6           R6    68922.0    68932.0  -10.0
163      M1-1         M1-1    13522.0    13545.0  -23.0
164        R2           R2    40157.0    40532.0 -375.0

### Commercial overlay

In [250]:
sql = f'''
    WITH newcount as (
    WITH olall as (
    SELECT overlay1 as overlay FROM {pluto}
    UNION ALL
    SELECT overlay2 as overlay FROM {pluto}
    )
    SELECT overlay, COUNT(*) 
    FROM olall
    GROUP BY overlay),
    prevcount as (
    WITH olall as (
    SELECT overlay1 as overlay FROM {plutoprev}
    UNION ALL
    SELECT overlay2 as overlay FROM {plutoprev})
    SELECT overlay, COUNT(*) 
    FROM olall
    GROUP BY overlay)
    SELECT a.overlay, b.overlay as overlayprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.overlay = b.overlay
    ORDER BY a.overlay;
'''

In [251]:
df = pd.read_sql(sql=sql, con=con)

In [252]:
df

   overlay overlayprev   countnew  countprev  diff
0     C1-1        C1-1     1590.0     1587.0   3.0
1     C1-2        C1-2    11031.0    11031.0   0.0
2     C1-3        C1-3    13805.0    13790.0  15.0
3     C1-4        C1-4     8093.0     8097.0  -4.0
4     C1-5        C1-5     2541.0     2547.0  -6.0
5     C2-1        C2-1     1682.0     1684.0  -2.0
6     C2-2        C2-2     6024.0     6023.0   1.0
7     C2-3        C2-3    11946.0    11952.0  -6.0
8     C2-4        C2-4    16728.0    16727.0   1.0
9     C2-5        C2-5     1523.0     1523.0   0.0
10    None        None        NaN  1643957.0   NaN
11    None        None  1647143.0        NaN   NaN

### Special purpose district

In [253]:
sql = f'''
    WITH newcount as (
    WITH sdall as (
    SELECT spdist1 as spdist FROM {pluto}
    UNION ALL
    SELECT spdist2 as spdist FROM {pluto}
    UNION ALL
    SELECT spdist3 as spdist FROM {pluto}
    )
    SELECT spdist, COUNT(*) 
    FROM sdall
    GROUP BY spdist),
    prevcount as (
     WITH sdall as (
    SELECT spdist1 as spdist FROM {plutoprev}
    UNION ALL
    SELECT spdist2 as spdist FROM {plutoprev}
    UNION ALL
    SELECT spdist3 as spdist FROM {plutoprev}
    )
    SELECT spdist, COUNT(*) 
    FROM sdall
    GROUP BY spdist)
    SELECT a.spdist, b.spdist as spdistprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.spdist = b.spdist
    ORDER BY diff DESC;
'''

In [254]:
df = pd.read_sql(sql=sql, con=con)

In [255]:
df[df['diff'] != 0]

        spdist  spdistprev   countnew  countprev  diff
0         None        None        NaN  2476583.0   NaN
1         None        None  2481371.0        NaN   NaN
2        MX-18        None        1.0        NaN   NaN
3          SRD         SRD    43902.0    43889.0  13.0
4           HS          HS     6167.0     6165.0   2.0
5           HY          HY      290.0      289.0   1.0
6         MX-1        MX-1      238.0      237.0   1.0
7           SG          SG      228.0      227.0   1.0
8          MiD         MiD     1486.0     1485.0   1.0
71          PI          PI      451.0      452.0  -1.0
72       MX-16       MX-16      140.0      141.0  -1.0
73        EC-3        EC-3      205.0      206.0  -1.0
74        MX-8        MX-8     1252.0     1253.0  -1.0
75        EC-6        EC-6      409.0      410.0  -1.0
76          GC          GC      223.0      224.0  -1.0
77         HRP         HRP        5.0        6.0  -1.0
78         TMU         TMU      550.0      552.0  -2.0
79        EC-5        EC-5      557.0      559.0  -2.0
80          MP          MP      370.0      373.0  -3.0
81          DB          DB      933.0      936.0  -3.0
82          OP          OP    13440.0    13443.0  -3.0
83  MX-16/EC-5  MX-16/EC-5        8.0       14.0  -6.0

In [256]:
#Check spdist domain
unique_spdist = df.spdist.tolist()
spdist_domain = list(get_domain('spdist1', 'pluto_domains.json').keys())

In [257]:
# in domain not in pluto:
[i for i in spdist_domain if i not in unique_spdist]

['MX-3']

In [258]:
# in pluto not in domain:
[i for i in unique_spdist if i not in spdist_domain]

[None, None, 'MX-18', 'BSC', 'SW', 'MX-20', 'MX-16/EC-6', 'MX-16/EC-5']

### Limited height

In [259]:
sql = f'''
    WITH newcount as (
    SELECT ltdheight, count(*)
    FROM {pluto}
    GROUP BY ltdheight),
    prevcount as (
    SELECT ltdheight, count(*)
    FROM {plutoprev}
    GROUP BY ltdheight)
    SELECT a.ltdheight, b.ltdheight as ltdheightprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.ltdheight = b.ltdheight
    ORDER BY a.ltdheight;
'''

In [260]:
df = pd.read_sql(sql=sql, con=con)

In [261]:
df

  ltdheight ltdheightprev  countnew  countprev  diff
0      LH-1          LH-1    2239.0     2239.0   0.0
1     LH-1A         LH-1A     797.0      797.0   0.0
2      None          None  858017.0        NaN   NaN
3      None          None       NaN   856423.0   NaN

In [262]:
#Check ltdheight domain
unique_ltdheight = df.ltdheight.tolist()
ltdheight_domain = list(get_domain('ltdheight', 'pluto_domains.json').keys())

In [263]:
# in domain not in pluto:
[i for i in ltdheight_domain if i not in unique_ltdheight]

['LH-2', 'LH-3']

In [264]:
# in pluto not in domain:
[i for i in unique_ltdheight if i not in ltdheight_domain]

[None, None]

### Building class

In [265]:
sql = f'''
    WITH newcount as (
    SELECT bldgclass, count(*)
    FROM {pluto}
    GROUP BY bldgclass),
    prevcount as (
    SELECT bldgclass, count(*)
    FROM {plutoprev}
    GROUP BY bldgclass)
    SELECT a.bldgclass, b.bldgclass as bldgclassprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.bldgclass = b.bldgclass
    ORDER BY diff DESC;
'''

In [266]:
df = pd.read_sql(sql=sql, con=con)

In [267]:
df[df['diff'] != 0]

    bldgclass bldgclassprev  countnew  countprev    diff
0        None            RT       NaN        8.0     NaN
1        None            L1       NaN       73.0     NaN
2        None          None     429.0        NaN     NaN
3        None          None       NaN      473.0     NaN
4          A5            A5  102449.0   100982.0  1467.0
5          R4            R4    2164.0     1341.0   823.0
6          R2            R2     953.0      554.0   399.0
7          K4            K4    6369.0     6094.0   275.0
8          B2            B2   79407.0    79163.0   244.0
9          R1            R1    1852.0     1711.0   141.0
10         O5            O5    1750.0     1658.0    92.0
11         O6            O6     952.0      864.0    88.0
12         B3            B3   60349.0    60266.0    83.0
13         A3            A3    7446.0     7363.0    83.0
14         B1            B1   85135.0    85057.0    78.0
15         V1            V1    6729.0     6671.0    58.0
16         Z7            Z7     167.0      109.0    58.0
17         R0            R0     136.0       79.0    57.0
18         RG            RG     160.0      106.0    54.0
19         D7            D7    2169.0     2119.0    50.0
20         C1            C1   15584.0    15547.0    37.0
21         B9            B9   25655.0    25621.0    34.0
22         RM            RM    3322.0     3288.0    34.0
23         G7            G7    5322.0     5290.0    32.0
24         O9            O9     180.0      149.0    31.0
25         S2            S2   14576.0    14548.0    28.0
26         R5            R5      60.0       34.0    26.0
27         E2            E2     385.0      368.0    17.0
28         C0            C0   73011.0    72995.0    16.0
29         RR            RR      68.0       53.0    15.0
30         S1            S1    6089.0     6074.0    15.0
31         D6            D6    1111.0     1096.0    15.0
32         R3            R3    1052.0     1038.0    14.0
33         RK            RK      43.0       31.0    12.0
34         Q1            Q1    1392.0     1381.0    11.0
35         D3            D3    1318.0     1307.0    11.0
36         G2            G2    2096.0     2086.0    10.0
37         C2            C2   13524.0    13515.0     9.0
38         S9            S9    4249.0     4240.0     9.0
39         Q9            Q9     294.0      285.0     9.0
40         F9            F9     565.0      557.0     8.0
41         R6            R6     625.0      619.0     6.0
42         S4            S4    2591.0     2585.0     6.0
43         O8            O8     681.0      675.0     6.0
44         A7            A7     445.0      439.0     6.0
45         D0            D0     269.0      264.0     5.0
46         O4            O4     415.0      410.0     5.0
47         O7            O7    1205.0     1200.0     5.0
48         S5            S5    2666.0     2662.0     4.0
49         GU            GU     134.0      130.0     4.0
50         O2            O2    1450.0     1447.0     3.0
51         C6            C6    3284.0     3281.0     3.0
52         H2            H2     141.0      138.0     3.0
53         P9            P9     179.0      176.0     3.0
54         RC            RC     207.0      204.0     3.0
55         RH            RH      13.0       10.0     3.0
56         W1            W1    1209.0     1206.0     3.0
57         W9            W9     411.0      408.0     3.0
58         Z0            Z0     397.0      394.0     3.0
59         I1            I1     160.0      158.0     2.0
60         GW            GW     149.0      147.0     2.0
61         S0            S0     220.0      218.0     2.0
62         D1            D1    5134.0     5132.0     2.0
63         RD            RD     141.0      139.0     2.0
64         RA            RA      21.0       19.0     2.0
65         M1            M1    3903.0     3901.0     2.0
66         I9            I9     267.0      265.0     2.0
67         M9            M9    1031.0     1029.0     2.0
68         H3            H3     312.0      310.0     2.0
69         W2            W2     579.0      577.0     2.0
70         Q2            Q2     594.0      592.0     2.0
71         P7            P7      95.0       93.0     2.0
72         V2            V2     141.0      139.0     2.0
73         K7            K7     429.0      427.0     2.0
74         V5            V5      28.0       27.0     1.0
75         D9            D9     567.0      566.0     1.0
76         A4            A4    4265.0     4264.0     1.0
77         Y1            Y1     236.0      235.0     1.0
78         E9            E9    1674.0     1673.0     1.0
79         HB            HB      58.0       57.0     1.0
80         N2            N2     311.0      310.0     1.0
81         G3            G3     187.0      186.0     1.0
82         R9            R9      14.0       13.0     1.0
83         O3            O3     119.0      118.0     1.0
84         W4            W4      68.0       67.0     1.0
168        K6            K6     257.0      258.0    -1.0
169        U7            U7     968.0      969.0    -1.0
170        U9            U9     337.0      338.0    -1.0
171        I7            I7     205.0      206.0    -1.0
172        C7            C7    7760.0     7761.0    -1.0
173        Y6            Y6      59.0       60.0    -1.0
174        O1            O1     457.0      458.0    -1.0
175        P3            P3      43.0       44.0    -1.0
176        U0            U0      85.0       86.0    -1.0
177        F1            F1     480.0      481.0    -1.0
178        P6            P6      76.0       77.0    -1.0
179        G8            G8     251.0      252.0    -1.0
180        V7            V7      37.0       38.0    -1.0
181        HH            HH      20.0       21.0    -1.0
182        Q0            Q0    1210.0     1211.0    -1.0
183        I6            I6     178.0      179.0    -1.0
184        Q7            Q7      27.0       28.0    -1.0
185        E7            E7     265.0      267.0    -2.0
186        C4            C4    2944.0     2946.0    -2.0
187        V9            V9     500.0      502.0    -2.0
188        M3            M3     536.0      538.0    -2.0
189        R8            R8       7.0       10.0    -3.0
190        E1            E1    3948.0     3951.0    -3.0
191        U8            U8      97.0      100.0    -3.0
192        U1            U1     178.0      182.0    -4.0
193        C3            C3   16213.0    16217.0    -4.0
194        G9            G9     515.0      520.0    -5.0
195        Z9            Z9    2248.0     2253.0    -5.0
196        F4            F4     947.0      953.0    -6.0
197        K5            K5     559.0      565.0    -6.0
198        I5            I5     351.0      357.0    -6.0
199        F5            F5    1534.0     1540.0    -6.0
200        U2            U2     207.0      214.0    -7.0
201        C5            C5    2521.0     2529.0    -8.0
202        G0            G0    2529.0     2537.0    -8.0
203        L3            L3       3.0       11.0    -8.0
204        U6            U6     561.0      569.0    -8.0
205        K9            K9     178.0      187.0    -9.0
206        G6            G6     489.0      499.0   -10.0
207        G1            G1    1707.0     1721.0   -14.0
208        K1            K1    7841.0     7858.0   -17.0
209        V3            V3     184.0      201.0   -17.0
210        RP            RP      13.0       31.0   -18.0
211        A6            A6     790.0      813.0   -23.0
212        L2            L2       1.0       26.0   -25.0
213        A0            A0    8486.0     8517.0   -31.0
214        K2            K2    3586.0     3619.0   -33.0
215        A1            A1  123279.0   123363.0   -84.0
216        RB            RB     109.0      196.0   -87.0
217        L9            L9      23.0      166.0  -143.0
218        A2            A2   46181.0    46332.0  -151.0
219        V0            V0   19884.0    20070.0  -186.0
220        L8            L8      12.0      314.0  -302.0
221        A9            A9   21179.0    22753.0 -1574.0

In [268]:
#Check bldgclass domain
unique_bldgclass = df.bldgclass.tolist()
bldgclass_domain = list(get_domain('bldgclass', 'pluto_domains.json').keys())

In [269]:
# in domain not in pluto:
[i for i in bldgclass_domain if i not in unique_bldgclass]

['A',
 'B',
 'C',
 'D',
 'E',
 'E3',
 'E4',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'L1',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'R7',
 'RT',
 'S',
 'T',
 'U',
 'U3',
 'V',
 'W',
 'Y',
 'Z',
 'Z6']

In [270]:
# in pluto not in domain:
[i for i in unique_bldgclass if i not in bldgclass_domain]

[None, None, None, None]

### Land use

In [271]:
sql = f'''
    WITH newcount as (
    SELECT landuse, count(*)
    FROM {pluto}
    GROUP BY landuse),
    prevcount as (
    SELECT landuse, count(*)
    FROM {plutoprev}
    GROUP BY landuse)
    SELECT a.landuse, b.landuse as landuseprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.landuse = b.landuse
    ORDER BY a.landuse;
'''

In [272]:
df = pd.read_sql(sql=sql, con=con)

In [273]:
df[df['diff'] != 0]

   landuse landuseprev  countnew  countprev   diff
0       01          01  565492.0   565356.0  136.0
1       02          02  131989.0   131378.0  611.0
2       03          03   13690.0    12846.0  844.0
3       04          04   54964.0    54508.0  456.0
4       05          05   21609.0    21482.0  127.0
5       06          06    9954.0    10497.0 -543.0
6       07          07    6315.0     6335.0  -20.0
7       08          08   12192.0    12177.0   15.0
8       09          09    4036.0     4017.0   19.0
9       10          10   10260.0    10224.0   36.0
10      11          11   27570.0    27715.0 -145.0
11    None        None    2982.0        NaN    NaN
12    None        None       NaN     2924.0    NaN

In [274]:
#Check landuse domain
unique_landuse = df.landuse.tolist()
landuse_domain = list(get_domain('landuse', 'pluto_domains.json').keys())

In [275]:
# in domain not in pluto:
[i for i in landuse_domain if i not in unique_landuse]

[]

In [276]:
# in pluto not in domain:
[i for i in unique_landuse if i not in landuse_domain]

[None, None]

### Owner type

In [277]:
sql = f'''
    WITH newcount as (
    SELECT ownertype, count(*)
    FROM {pluto}
    GROUP BY ownertype),
    prevcount as (
    SELECT ownertype, count(*)
    FROM {plutoprev}
    GROUP BY ownertype)
    SELECT a.ownertype, b.ownertype as ownertypeprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.ownertype = b.ownertype
    ORDER BY a.ownertype;
'''

In [278]:
df = pd.read_sql(sql=sql, con=con)

In [279]:
df

  ownertype ownertypeprev  countnew  countprev    diff
0         C             C   11654.0    11654.0     0.0
1         M             M      80.0       80.0     0.0
2         O             O    1373.0     1373.0     0.0
3         P             P     522.0      522.0     0.0
4         X             X   19988.0    17414.0  2574.0
5      None          None  827436.0        NaN     NaN
6      None          None       NaN   828416.0     NaN

In [280]:
#Check ownertype domain
unique_ownertype = df.ownertype.tolist()
ownertype_domain = list(get_domain('ownertype', 'pluto_domains.json').keys())

In [281]:
# in domain not in pluto:
[i for i in ownertype_domain if i not in unique_ownertype]

['NaN']

In [282]:
# in pluto not in domain:
[i for i in unique_ownertype if i not in ownertype_domain]

[None, None]

### Area source

In [283]:
sql = f'''
    WITH newcount as (
    SELECT areasource, count(*)
    FROM {pluto}
    GROUP BY areasource),
    prevcount as (
    SELECT areasource, count(*)
    FROM {plutoprev}
    GROUP BY areasource)
    SELECT a.areasource, b.areasource as areasourceprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.areasource = b.areasource
    ORDER BY a.areasource;
'''

In [284]:
df = pd.read_sql(sql=sql, con=con)

In [285]:
df

  areasource areasourceprev  countnew  countprev    diff
0          0              0     163.0      136.0    27.0
1          2              2  816705.0   813263.0  3442.0
2          4              4     259.0      182.0    77.0
3          5              5     119.0       63.0    56.0
4          7              7   43378.0    45342.0 -1964.0
5       None           None     429.0        NaN     NaN
6       None           None       NaN      473.0     NaN

In [286]:
#Check areasource domain
unique_areasource = df.areasource.tolist()
areasource_domain = list(get_domain('areasource', 'pluto_domains.json').keys())

In [287]:
# in domain not in pluto:
[i for i in areasource_domain if i not in unique_areasource]

[]

In [288]:
# in pluto not in domain:
[i for i in unique_areasource if i not in areasource_domain]

[None, None]

### Extension

In [289]:
sql = f'''
    WITH newcount as (
    SELECT ext, count(*)
    FROM {pluto}
    GROUP BY ext),
    prevcount as (
    SELECT ext, count(*)
    FROM {plutoprev}
    GROUP BY ext)
    SELECT a.ext, b.ext as extprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.ext = b.ext
    ORDER BY a.ext;
'''

In [290]:
df = pd.read_sql(sql=sql, con=con)

In [291]:
df

    ext extprev  countnew  countprev   diff
0     E       E   48333.0    48335.0   -2.0
1    EG      EG   36692.0    36709.0  -17.0
2     G       G  264441.0   264413.0   28.0
3     N       N  451458.0   451333.0  125.0
4  None    None   60129.0        NaN    NaN
5  None    None       NaN    58669.0    NaN

In [292]:
#Check extension domain
unique_extension = df.ext.tolist()
extension_domain = list(get_domain('ext', 'pluto_domains.json').keys())

In [293]:
# in domain not in pluto:
[i for i in extension_domain if i not in unique_extension]

[]

In [294]:
# in pluto not in domain:
[i for i in unique_extension if i not in extension_domain]

['N', None, None]

### Proxy code

In [295]:
sql = f'''
    WITH newcount as (
    SELECT proxcode, count(*)
    FROM {pluto}
    GROUP BY proxcode),
    prevcount as (
    SELECT proxcode, count(*)
    FROM {plutoprev}
    GROUP BY proxcode)
    SELECT a.proxcode, b.proxcode as proxcodeprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.proxcode = b.proxcode
    ORDER BY a.proxcode;
'''

In [296]:
df = pd.read_sql(sql=sql, con=con)

In [297]:
df

  proxcode proxcodeprev  countnew  countprev   diff
0        0            0  145130.0   144832.0  298.0
1        1            1  313978.0   313731.0  247.0
2        2            2  200438.0   199995.0  443.0
3        3            3  201078.0   200428.0  650.0
4     None         None     429.0        NaN    NaN
5     None         None       NaN      473.0    NaN

In [298]:
#Check proxcode domain
unique_proxcode = df.proxcode.tolist()
proxcode_domain = list(get_domain('proxcode', 'pluto_domains.json').keys())

In [299]:
# in domain not in pluto:
[i for i in proxcode_domain if i not in unique_proxcode]

[]

In [300]:
# in pluto not in domain:
[i for i in unique_proxcode if i not in proxcode_domain]

[None, None]

### Lot type

In [301]:
sql = f'''
    WITH newcount as (
    SELECT lottype, count(*)
    FROM {pluto}
    GROUP BY lottype),
    prevcount as (
    SELECT lottype, count(*)
    FROM {plutoprev}
    GROUP BY lottype)
    SELECT a.lottype, b.lottype as lottypeprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.lottype = b.lottype
    ORDER BY a.lottype;
'''

In [302]:
df = pd.read_sql(sql=sql, con=con)

In [303]:
df

   lottype lottypeprev  countnew  countprev    diff
0        0           0   10419.0     8534.0  1885.0
1        1           1    1456.0     1456.0     0.0
2        2           2    1826.0     1827.0    -1.0
3        3           3  100645.0   100674.0   -29.0
4        4           4    3411.0     3438.0   -27.0
5        5           5  737857.0   738045.0  -188.0
6        6           6    2229.0     2228.0     1.0
7        7           7      63.0       64.0    -1.0
8        8           8    2528.0     2530.0    -2.0
9        9           9     190.0      190.0     0.0
10    None        None       NaN      473.0     NaN
11    None        None     429.0        NaN     NaN

In [304]:
#Check lottype domain
unique_lottype = df.lottype.tolist()
lottype_domain = list(get_domain('lottype', 'pluto_domains.json').keys())

In [305]:
# in domain not in pluto:
[i for i in lottype_domain if i not in unique_lottype]

[]

In [306]:
# in pluto not in domain:
[i for i in unique_lottype if i not in lottype_domain]

[None, None]

### Basement code

In [307]:
sql = f'''
    WITH newcount as (
    SELECT bsmtcode, count(*)
    FROM {pluto}
    GROUP BY bsmtcode),
    prevcount as (
    SELECT bsmtcode, count(*)
    FROM {plutoprev}
    GROUP BY bsmtcode)
    SELECT a.bsmtcode, b.bsmtcode as bsmtcodeprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.bsmtcode = b.bsmtcode
    ORDER BY a.bsmtcode;
'''

In [308]:
df = pd.read_sql(sql=sql, con=con)

In [309]:
df

  bsmtcode bsmtcodeprev  countnew  countprev    diff
0        0            0   74405.0    74508.0  -103.0
1        1            1  153648.0   153697.0   -49.0
2        2            2  495983.0   495979.0     4.0
3        3            3    1511.0     1498.0    13.0
4        4            4    4723.0     4705.0    18.0
5        5            5  130354.0   128599.0  1755.0
6     None         None     429.0        NaN     NaN
7     None         None       NaN      473.0     NaN

In [310]:
#Check bsmtcode domain
unique_bsmtcode = df.bsmtcode.tolist()
bsmtcode_domain = list(get_domain('bsmtcode', 'pluto_domains.json').keys())

In [311]:
# in domain not in pluto:
[i for i in bsmtcode_domain if i not in unique_bsmtcode]

[]

In [312]:
# in pluto not in domain:
[i for i in unique_bsmtcode if i not in bsmtcode_domain]

[None, None]

### PLUTO map id

In [313]:
sql = f'''
    WITH newcount as (
    SELECT plutomapid, count(*)
    FROM {pluto}
    GROUP BY plutomapid),
    prevcount as (
    SELECT plutomapid, count(*)
    FROM {plutoprev}
    GROUP BY plutomapid)
    SELECT a.plutomapid, b.plutomapid as plutomapidprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.plutomapid = b.plutomapid
    ORDER BY a.plutomapid;
'''

In [314]:
df = pd.read_sql(sql=sql, con=con)

In [315]:
df

  plutomapid plutomapidprev  countnew  countprev  diff
0          1              1    856853     856861    -8
1          2              2      3561       1915  1646
2          3              3       425        469   -44
3          4              4       210        210     0
4          5              5         4          4     0

In [316]:
#Check plutomapid domain
unique_plutomapid = df.plutomapid.tolist()
plutomapid_domain = list(get_domain('plutomapid', 'pluto_domains.json').keys())

In [317]:
# in domain not in pluto:
[i for i in plutomapid_domain if i not in unique_plutomapid]

[]

In [318]:
# in pluto not in domain:
[i for i in unique_plutomapid if i not in plutomapid_domain]

[]

#### done