In [7]:
# Import packages
import pandas as pd
from sqlalchemy import create_engine
import json
import os

pd.set_option('display.max_rows', 200)

In [8]:
%load_ext dotenv
%dotenv ../.env

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [9]:
con = create_engine(os.getenv('BUILD_ENGINE').replace('localhost', os.getenv('IP')))

In [10]:
# Build funtion to get the domains associated with a specific field
def get_domain(field, domain_path):
    with open(domain_path, "r") as domain:
        domain = json.load(domain)
    records = [i for i in domain['fields'] if i['field'] == field]
    if len(records) == 0: 
        print(f'cannot find field: {field} in domain table')
    else: 
        return records[0]['domain']

In [11]:
# Example
proxcode_domain = get_domain('proxcode', 'pluto_domains.json')
print(proxcode_domain)

{'0': 'Not Available', '1': 'Detached', '2': 'Semi-Attached', '3': 'Attached'}

In [12]:
# Example
proxcode_domain.keys()

dict_keys(['0', '1', '2', '3'])

In [24]:
# Specify latest PLUTO version
pluto = 'pluto'
# Specify previous PLUTO version or the one you want to compare to
plutoprev = 'dcp_pluto'

### Value check for the thirteen fields with expected domain values

##### includes summary statistics of unique value comparisions for the two PLUTO version, and lists of values that do not agree w/ domain list

### Zoning districts

In [25]:
sql = f'''
    WITH newcount as (
    WITH zdall as (
    SELECT zonedist1 as zonedist FROM {pluto}
    UNION ALL
    SELECT zonedist2 as zonedist FROM {pluto}
    UNION ALL
    SELECT zonedist3 as zonedist FROM {pluto}
    UNION ALL
    SELECT zonedist4 as zonedist FROM {pluto})
    SELECT zonedist, COUNT(*) 
    FROM zdall
    GROUP BY zonedist),
    prevcount as (
    WITH zdall as (
    SELECT zonedist1 as zonedist FROM {plutoprev}
    UNION ALL
    SELECT zonedist2 as zonedist FROM {plutoprev}
    UNION ALL
    SELECT zonedist3 as zonedist FROM {plutoprev}
    UNION ALL
    SELECT zonedist4 as zonedist FROM {plutoprev})
    SELECT zonedist, COUNT(*) 
    FROM zdall
    GROUP BY zonedist)
    SELECT a.zonedist, b.zonedist as zonedistprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.zonedist = b.zonedist
    ORDER BY diff DESC;
'''

In [26]:
df = pd.read_sql(sql=sql, con=con)

In [27]:
df[df['diff'] != 0]

         zonedist zonedistprev   countnew  countprev   diff
0            None         None  2562457.0        NaN    NaN
1    PUBLIC PLACE         None       15.0        NaN    NaN
2      PLAYGROUND         None       90.0        NaN    NaN
3      BALL FIELD         None        5.0        NaN    NaN
4            None         None        NaN  2560881.0    NaN
5           C1-9A        C1-9A      136.0      134.0    2.0
6            C5-5         C5-5      295.0      294.0    1.0
95       M1-6/R10     M1-6/R10       75.0       76.0   -1.0
96            R2A          R2A    38220.0    38221.0   -1.0
97       M1-3/R7X     M1-3/R7X       48.0       49.0   -1.0
98          M1-5B        M1-5B      592.0      593.0   -1.0
99             R9           R9      272.0      273.0   -1.0
100         C6-1G        C6-1G      416.0      417.0   -1.0
101     M1-1/R7-2    M1-1/R7-2      189.0      190.0   -1.0
102         C2-8A        C2-8A      125.0      126.0   -1.0
103          C5-2         C5-2      402.0      403.0   -1.0
104          M1-5         M1-5      402.0      403.0   -1.0
105         C6-3A        C6-3A      316.0      317.0   -1.0
106         C4-5D        C4-5D      222.0      223.0   -1.0
107          C6-6         C6-6      281.0      282.0   -1.0
108           R9X          R9X       63.0       64.0   -1.0
109      M1-4/R7X     M1-4/R7X       32.0       33.0   -1.0
110          C1-7         C1-7       83.0       84.0   -1.0
111         C6-4X        C6-4X       88.0       89.0   -1.0
112         C6-4M        C6-4M      183.0      184.0   -1.0
113         C4-2A        C4-2A      955.0      956.0   -1.0
114          C5-3         C5-3      654.0      656.0   -2.0
115           R8X          R8X      178.0      180.0   -2.0
116          C1-9         C1-9      998.0     1000.0   -2.0
117         C4-6A        C4-6A      219.0      221.0   -2.0
118           R4A          R4A    26274.0    26276.0   -2.0
119           BPC          BPC       41.0       43.0   -2.0
120           R7D          R7D      977.0      979.0   -2.0
121          C6-2         C6-2      796.0      798.0   -2.0
122          C4-2         C4-2     1676.0     1678.0   -2.0
123          C6-3         C6-3      322.0      324.0   -2.0
124      M1-2/R6B     M1-2/R6B      304.0      306.0   -2.0
125      M1-5/R7X     M1-5/R7X       34.0       36.0   -2.0
126          C6-1         C6-1      571.0      573.0   -2.0
127          M1-6         M1-6      742.0      745.0   -3.0
128      M1-4/R6B     M1-4/R6B      323.0      326.0   -3.0
129           R5D          R5D     5512.0     5515.0   -3.0
130          R10A         R10A      920.0      923.0   -3.0
131         C4-4D        C4-4D      345.0      348.0   -3.0
132          C5-1         C5-1      325.0      328.0   -3.0
133         C6-4A        C6-4A      297.0      300.0   -3.0
134           R7B          R7B     3682.0     3685.0   -3.0
135       M1-2/R6      M1-2/R6      257.0      260.0   -3.0
136          C4-3         C4-3     1850.0     1853.0   -3.0
137         C1-8X        C1-8X      344.0      347.0   -3.0
138           R8B          R8B     8088.0     8092.0   -4.0
139           R7X          R7X      476.0      480.0   -4.0
140      M1-2/R6A     M1-2/R6A     1416.0     1420.0   -4.0
141      M1-4/R7A     M1-4/R7A      279.0      283.0   -4.0
142          M1-1         M1-1    13540.0    13545.0   -5.0
143          R1-2         R1-2    14427.0    14432.0   -5.0
144           R5B          R5B    31637.0    31643.0   -6.0
145         C6-2A        C6-2A     1471.0     1477.0   -6.0
146          R7-1         R7-1    14354.0    14361.0   -7.0
147           R8A          R8A     1769.0     1776.0   -7.0
148          R7-2         R7-2     8078.0     8085.0   -7.0
149          M3-1         M3-1     2548.0     2555.0   -7.0
150          C6-4         C6-4      798.0      806.0   -8.0
151         C4-4L        C4-4L      338.0      347.0   -9.0
152            R8           R8     5166.0     5175.0   -9.0
153          R3-2         R3-2    63404.0    63415.0  -11.0
154          M2-1         M2-1     1816.0     1830.0  -14.0
155            R4           R4    75960.0    75975.0  -15.0
156           R6A          R6A    16121.0    16136.0  -15.0
157          R4-1         R4-1    50653.0    50669.0  -16.0
158            R2           R2    40515.0    40532.0  -17.0
159           R7A          R7A    11592.0    11609.0  -17.0
160           R3X          R3X    51660.0    51678.0  -18.0
161           R3A          R3A    54816.0    54837.0  -21.0
162          R3-1         R3-1    51446.0    51470.0  -24.0
163            R5           R5    91373.0    91411.0  -38.0
164      M1-4/R6A     M1-4/R6A      182.0      220.0  -38.0
165           R6B          R6B    52429.0    52493.0  -64.0
166            R6           R6    68839.0    68932.0  -93.0
167          PARK         PARK     2708.0     2818.0 -110.0

### Commercial overlay

In [28]:
sql = f'''
    WITH newcount as (
    WITH olall as (
    SELECT overlay1 as overlay FROM {pluto}
    UNION ALL
    SELECT overlay2 as overlay FROM {pluto}
    )
    SELECT overlay, COUNT(*) 
    FROM olall
    GROUP BY overlay),
    prevcount as (
    WITH olall as (
    SELECT overlay1 as overlay FROM {plutoprev}
    UNION ALL
    SELECT overlay2 as overlay FROM {plutoprev})
    SELECT overlay, COUNT(*) 
    FROM olall
    GROUP BY overlay)
    SELECT a.overlay, b.overlay as overlayprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.overlay = b.overlay
    ORDER BY a.overlay;
'''

In [29]:
df = pd.read_sql(sql=sql, con=con)

In [30]:
df

   overlay overlayprev   countnew  countprev  diff
0     C1-1        C1-1     1586.0     1587.0  -1.0
1     C1-2        C1-2    11029.0    11031.0  -2.0
2     C1-3        C1-3    13779.0    13790.0 -11.0
3     C1-4        C1-4     8092.0     8097.0  -5.0
4     C1-5        C1-5     2538.0     2547.0  -9.0
5     C2-1        C2-1     1684.0     1684.0   0.0
6     C2-2        C2-2     6026.0     6023.0   3.0
7     C2-3        C2-3    11961.0    11952.0   9.0
8     C2-4        C2-4    16713.0    16727.0 -14.0
9     C2-5        C2-5     1522.0     1523.0  -1.0
10    None        None        NaN  1643957.0   NaN
11    None        None  1644492.0        NaN   NaN

### Special purpose district

In [31]:
sql = f'''
    WITH newcount as (
    WITH sdall as (
    SELECT spdist1 as spdist FROM {pluto}
    UNION ALL
    SELECT spdist2 as spdist FROM {pluto}
    UNION ALL
    SELECT spdist3 as spdist FROM {pluto}
    )
    SELECT spdist, COUNT(*) 
    FROM sdall
    GROUP BY spdist),
    prevcount as (
     WITH sdall as (
    SELECT spdist1 as spdist FROM {plutoprev}
    UNION ALL
    SELECT spdist2 as spdist FROM {plutoprev}
    UNION ALL
    SELECT spdist3 as spdist FROM {plutoprev}
    )
    SELECT spdist, COUNT(*) 
    FROM sdall
    GROUP BY spdist)
    SELECT a.spdist, b.spdist as spdistprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.spdist = b.spdist
    ORDER BY diff DESC;
'''

In [32]:
df = pd.read_sql(sql=sql, con=con)

In [33]:
df[df['diff'] != 0]

   spdist spdistprev   countnew  countprev   diff
0    None       None        NaN  2476583.0    NaN
1    None       None  2476554.0        NaN    NaN
2     SRD        SRD    44594.0    43889.0  705.0
3    NA-1       NA-1     2447.0     2408.0   39.0
4      HS         HS     6195.0     6165.0   30.0
5      BR         BR     9716.0     9706.0   10.0
6      LM         LM      567.0      559.0    8.0
7    NA-2       NA-2      989.0      981.0    8.0
8       J          J      474.0      469.0    5.0
9      OP         OP    13448.0    13443.0    5.0
10      C          C      442.0      437.0    5.0
11    MiD        MiD     1489.0     1485.0    4.0
12      L          L       89.0       86.0    3.0
13    SHP        SHP       17.0       14.0    3.0
14  MX-10      MX-10       40.0       37.0    3.0
15     CR         CR     3041.0     3038.0    3.0
16     CI         CI      164.0      162.0    2.0
17     TA         TA      458.0      456.0    2.0
18     US         US       45.0       43.0    2.0
19     CL         CL     1336.0     1334.0    2.0
20  MX-13      MX-13       87.0       86.0    1.0
21     DJ         DJ     1564.0     1563.0    1.0
22     SB         SB      159.0      158.0    1.0
23   MX-1       MX-1      238.0      237.0    1.0
24   NA-3       NA-3       97.0       96.0    1.0
25   MX-8       MX-8     1254.0     1253.0    1.0
26     SG         SG      228.0      227.0    1.0
27     HP         HP      496.0      495.0    1.0
28   EC-4       EC-4      128.0      127.0    1.0
69   MX-6       MX-6       11.0       12.0   -1.0
70    HRP        HRP        5.0        6.0   -1.0
71   MX-7       MX-7      189.0      190.0   -1.0
72  125th      125th      288.0      289.0   -1.0
73    WCh        WCh      209.0      210.0   -1.0
74   EC-6       EC-6      409.0      410.0   -1.0
75     HY         HY      288.0      289.0   -1.0
76   EC-5       EC-5      558.0      559.0   -1.0
77     CP         CP      222.0      223.0   -1.0
78    HSQ        HSQ       93.0       94.0   -1.0
79     DB         DB      934.0      936.0   -2.0
80    BPC        BPC       41.0       43.0   -2.0
81     MP         MP      370.0      373.0   -3.0
82    LIC        LIC     1536.0     1582.0  -46.0

In [34]:
#Check spdist domain
unique_spdist = df.spdist.tolist()
spdist_domain = list(get_domain('spdist1', 'pluto_domains.json').keys())

In [35]:
# in domain not in pluto:
[i for i in spdist_domain if i not in unique_spdist]

['MX-3']

In [36]:
# in pluto not in domain:
[i for i in unique_spdist if i not in spdist_domain]

[None, None, 'MX-20', 'MX-16/EC-5', 'BSC', 'SW', 'MX-16/EC-6']

### Limited height

In [37]:
sql = f'''
    WITH newcount as (
    SELECT ltdheight, count(*)
    FROM {pluto}
    GROUP BY ltdheight),
    prevcount as (
    SELECT ltdheight, count(*)
    FROM {plutoprev}
    GROUP BY ltdheight)
    SELECT a.ltdheight, b.ltdheight as ltdheightprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.ltdheight = b.ltdheight
    ORDER BY a.ltdheight;
'''

In [38]:
df = pd.read_sql(sql=sql, con=con)

In [39]:
df

  ltdheight ltdheightprev  countnew  countprev  diff
0      LH-1          LH-1    2248.0     2239.0   9.0
1     LH-1A         LH-1A     797.0      797.0   0.0
2      None          None  856666.0        NaN   NaN
3      None          None       NaN   856423.0   NaN

In [40]:
#Check ltdheight domain
unique_ltdheight = df.ltdheight.tolist()
ltdheight_domain = list(get_domain('ltdheight', 'pluto_domains.json').keys())

In [41]:
# in domain not in pluto:
[i for i in ltdheight_domain if i not in unique_ltdheight]

['LH-2', 'LH-3']

In [42]:
# in pluto not in domain:
[i for i in unique_ltdheight if i not in ltdheight_domain]

[None, None]

### Building class

In [43]:
sql = f'''
    WITH newcount as (
    SELECT bldgclass, count(*)
    FROM {pluto}
    GROUP BY bldgclass),
    prevcount as (
    SELECT bldgclass, count(*)
    FROM {plutoprev}
    GROUP BY bldgclass)
    SELECT a.bldgclass, b.bldgclass as bldgclassprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.bldgclass = b.bldgclass
    ORDER BY diff DESC;
'''

In [44]:
df = pd.read_sql(sql=sql, con=con)

In [45]:
df[df['diff'] != 0]

    bldgclass bldgclassprev  countnew  countprev   diff
0        None          None       NaN      473.0    NaN
1        None            RP       NaN       31.0    NaN
2        None          None     986.0        NaN    NaN
3        None            RT       NaN        8.0    NaN
4          V1            V1    6854.0     6671.0  183.0
5          G7            G7    5380.0     5290.0   90.0
6          Z7            Z7     176.0      109.0   67.0
7          D7            D7    2181.0     2119.0   62.0
8          C0            C0   73056.0    72995.0   61.0
9          D6            D6    1155.0     1096.0   59.0
10         D1            D1    5170.0     5132.0   38.0
11         C1            C1   15582.0    15547.0   35.0
12         Z9            Z9    2283.0     2253.0   30.0
13         A1            A1  123391.0   123363.0   28.0
14         D3            D3    1335.0     1307.0   28.0
15         B3            B3   60294.0    60266.0   28.0
16         C3            C3   16242.0    16217.0   25.0
17         K2            K2    3643.0     3619.0   24.0
18         K1            K1    7881.0     7858.0   23.0
19         C7            C7    7783.0     7761.0   22.0
20         B9            B9   25642.0    25621.0   21.0
21         C2            C2   13535.0    13515.0   20.0
22         A9            A9   22770.0    22753.0   17.0
23         G6            G6     514.0      499.0   15.0
24         D8            D8     161.0      147.0   14.0
25         A2            A2   46345.0    46332.0   13.0
26         G0            G0    2546.0     2537.0    9.0
27         G1            G1    1730.0     1721.0    9.0
28         R3            R3    1046.0     1038.0    8.0
29         H3            H3     317.0      310.0    7.0
30         S2            S2   14555.0    14548.0    7.0
31         M1            M1    3908.0     3901.0    7.0
32         W2            W2     583.0      577.0    6.0
33         E7            E7     273.0      267.0    6.0
34         S4            S4    2591.0     2585.0    6.0
35         S3            S3    3052.0     3046.0    6.0
36         O5            O5    1664.0     1658.0    6.0
37         O4            O4     416.0      410.0    6.0
38         O2            O2    1452.0     1447.0    5.0
39         O6            O6     869.0      864.0    5.0
40         S5            S5    2667.0     2662.0    5.0
41         W1            W1    1211.0     1206.0    5.0
42         B2            B2   79168.0    79163.0    5.0
43         L8            L8     318.0      314.0    4.0
44         F4            F4     957.0      953.0    4.0
45         S9            S9    4244.0     4240.0    4.0
46         F5            F5    1544.0     1540.0    4.0
47         D9            D9     570.0      566.0    4.0
48         S1            S1    6077.0     6074.0    3.0
49         V3            V3     204.0      201.0    3.0
50         D5            D5     308.0      305.0    3.0
51         P9            P9     179.0      176.0    3.0
52         O3            O3     120.0      118.0    2.0
53         H2            H2     140.0      138.0    2.0
54         W9            W9     410.0      408.0    2.0
55         G2            G2    2088.0     2086.0    2.0
56         C6            C6    3283.0     3281.0    2.0
57         C5            C5    2531.0     2529.0    2.0
58         C4            C4    2948.0     2946.0    2.0
59         Z0            Z0     396.0      394.0    2.0
60         A6            A6     815.0      813.0    2.0
61         HB            HB      59.0       57.0    2.0
62         G9            G9     521.0      520.0    1.0
63         A7            A7     440.0      439.0    1.0
64         C9            C9     410.0      409.0    1.0
65         D2            D2      75.0       74.0    1.0
66         G4            G4     383.0      382.0    1.0
67         G8            G8     253.0      252.0    1.0
68         I1            I1     159.0      158.0    1.0
69         I5            I5     358.0      357.0    1.0
70         I7            I7     207.0      206.0    1.0
71         J1            J1      16.0       15.0    1.0
72         K3            K3      47.0       46.0    1.0
73         L2            L2      27.0       26.0    1.0
74         L3            L3      12.0       11.0    1.0
75         L9            L9     167.0      166.0    1.0
76         M3            M3     539.0      538.0    1.0
77         M4            M4     138.0      137.0    1.0
78         N2            N2     311.0      310.0    1.0
79         O1            O1     459.0      458.0    1.0
80         O7            O7    1201.0     1200.0    1.0
81         S0            S0     219.0      218.0    1.0
82         T2            T2     191.0      190.0    1.0
83         V2            V2     140.0      139.0    1.0
84         V9            V9     503.0      502.0    1.0
85         W3            W3     222.0      221.0    1.0
86         W6            W6     174.0      173.0    1.0
87         W8            W8     193.0      192.0    1.0
88         Y7            Y7      29.0       28.0    1.0
89         Z1            Z1      30.0       29.0    1.0
175        E2            E2     367.0      368.0   -1.0
176        Q7            Q7      27.0       28.0   -1.0
177        E9            E9    1672.0     1673.0   -1.0
178        K9            K9     186.0      187.0   -1.0
179        U9            U9     337.0      338.0   -1.0
180        F2            F2      82.0       83.0   -1.0
181        K5            K5     564.0      565.0   -1.0
182        RC            RC     203.0      204.0   -1.0
183        E1            E1    3950.0     3951.0   -1.0
184        D0            D0     263.0      264.0   -1.0
185        HS            HS      39.0       40.0   -1.0
186        H1            H1      75.0       76.0   -1.0
187        V8            V8      47.0       48.0   -1.0
188        O9            O9     148.0      149.0   -1.0
189        P2            P2     166.0      167.0   -1.0
190        RA            RA      17.0       19.0   -2.0
191        RD            RD     137.0      139.0   -2.0
192        A0            A0    8515.0     8517.0   -2.0
193        A4            A4    4261.0     4264.0   -3.0
194        Y4            Y4      25.0       28.0   -3.0
195        U8            U8      97.0      100.0   -3.0
196        Q2            Q2     588.0      592.0   -4.0
197        U7            U7     965.0      969.0   -4.0
198        O8            O8     671.0      675.0   -4.0
199        U1            U1     178.0      182.0   -4.0
200        Q1            Q1    1374.0     1381.0   -7.0
201        A3            A3    7356.0     7363.0   -7.0
202        U2            U2     207.0      214.0   -7.0
203        U6            U6     561.0      569.0   -8.0
204        R8            R8       1.0       10.0   -9.0
205        RK            RK      20.0       31.0  -11.0
206        R6            R6     601.0      619.0  -18.0
207        RS            RS       3.0       21.0  -18.0
208        Q0            Q0    1192.0     1211.0  -19.0
209        RR            RR      34.0       53.0  -19.0
210        Q9            Q9     262.0      285.0  -23.0
211        R5            R5       6.0       34.0  -28.0
212        B1            B1   85025.0    85057.0  -32.0
213        RM            RM    3255.0     3288.0  -33.0
214        A5            A5  100945.0   100982.0  -37.0
215        R0            R0      14.0       79.0  -65.0
216        V0            V0   20005.0    20070.0  -65.0
217        RB            RB     101.0      196.0  -95.0
218        RG            RG       2.0      106.0 -104.0
219        R1            R1    1592.0     1711.0 -119.0
220        R2            R2     387.0      554.0 -167.0
221        R4            R4     965.0     1341.0 -376.0

In [46]:
#Check bldgclass domain
unique_bldgclass = df.bldgclass.tolist()
bldgclass_domain = list(get_domain('bldgclass', 'pluto_domains.json').keys())

In [47]:
# in domain not in pluto:
[i for i in bldgclass_domain if i not in unique_bldgclass]

['A',
 'B',
 'C',
 'D',
 'E',
 'E3',
 'E4',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'R7',
 'RP',
 'RT',
 'S',
 'T',
 'U',
 'U3',
 'V',
 'W',
 'Y',
 'Z',
 'Z6']

In [48]:
# in pluto not in domain:
[i for i in unique_bldgclass if i not in bldgclass_domain]

[None, None, None, None]

### Land use

In [49]:
sql = f'''
    WITH newcount as (
    SELECT landuse, count(*)
    FROM {pluto}
    GROUP BY landuse),
    prevcount as (
    SELECT landuse, count(*)
    FROM {plutoprev}
    GROUP BY landuse)
    SELECT a.landuse, b.landuse as landuseprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.landuse = b.landuse
    ORDER BY a.landuse;
'''

In [50]:
df = pd.read_sql(sql=sql, con=con)

In [51]:
df[df['diff'] != 0]

   landuse landuseprev  countnew  countprev   diff
0       01          01  565392.0   565356.0   36.0
1       02          02  131230.0   131378.0 -148.0
2       03          03   12555.0    12846.0 -291.0
3       04          04   54618.0    54508.0  110.0
4       05          05   21411.0    21482.0  -71.0
5       06          06   10514.0    10497.0   17.0
6       07          07    6314.0     6335.0  -21.0
7       08          08   12204.0    12177.0   27.0
8       09          09    3963.0     4017.0  -54.0
9       10          10   10212.0    10224.0  -12.0
10      11          11   27837.0    27715.0  122.0
11    None        None    3461.0        NaN    NaN
12    None        None       NaN     2924.0    NaN

In [52]:
#Check landuse domain
unique_landuse = df.landuse.tolist()
landuse_domain = list(get_domain('landuse', 'pluto_domains.json').keys())

In [53]:
# in domain not in pluto:
[i for i in landuse_domain if i not in unique_landuse]

[]

In [54]:
# in pluto not in domain:
[i for i in unique_landuse if i not in landuse_domain]

[None, None]

### Owner type

In [55]:
sql = f'''
    WITH newcount as (
    SELECT ownertype, count(*)
    FROM {pluto}
    GROUP BY ownertype),
    prevcount as (
    SELECT ownertype, count(*)
    FROM {plutoprev}
    GROUP BY ownertype)
    SELECT a.ownertype, b.ownertype as ownertypeprev, a.count as countnew, b.count as countprev,  a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.ownertype = b.ownertype
    ORDER BY a.ownertype;
'''

In [56]:
df = pd.read_sql(sql=sql, con=con)

In [57]:
df

  ownertype ownertypeprev  countnew  countprev  diff
0         C             C   11676.0    11654.0  22.0
1         M             M      80.0       80.0   0.0
2         O             O    1374.0     1373.0   1.0
3         P             P     523.0      522.0   1.0
4         X             X   17333.0    17414.0 -81.0
5      None          None  828725.0        NaN   NaN
6      None          None       NaN   828416.0   NaN

In [58]:
#Check ownertype domain
unique_ownertype = df.ownertype.tolist()
ownertype_domain = list(get_domain('ownertype', 'pluto_domains.json').keys())

In [59]:
# in domain not in pluto:
[i for i in ownertype_domain if i not in unique_ownertype]

['NaN']

In [60]:
# in pluto not in domain:
[i for i in unique_ownertype if i not in ownertype_domain]

[None, None]

### Area source

In [61]:
sql = f'''
    WITH newcount as (
    SELECT areasource, count(*)
    FROM {pluto}
    GROUP BY areasource),
    prevcount as (
    SELECT areasource, count(*)
    FROM {plutoprev}
    GROUP BY areasource)
    SELECT a.areasource, b.areasource as areasourceprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.areasource = b.areasource
    ORDER BY a.areasource;
'''

In [62]:
df = pd.read_sql(sql=sql, con=con)

In [63]:
df

  areasource areasourceprev  countnew  countprev   diff
0          0              0     338.0      136.0  202.0
1          2              2  812678.0   813263.0 -585.0
2          4              4     422.0      182.0  240.0
3          5              5      13.0       63.0  -50.0
4          7              7   45274.0    45342.0  -68.0
5       None           None       NaN      473.0    NaN
6       None           None     986.0        NaN    NaN

In [64]:
#Check areasource domain
unique_areasource = df.areasource.tolist()
areasource_domain = list(get_domain('areasource', 'pluto_domains.json').keys())

In [65]:
# in domain not in pluto:
[i for i in areasource_domain if i not in unique_areasource]

[]

In [66]:
# in pluto not in domain:
[i for i in unique_areasource if i not in areasource_domain]

[None, None]

### Extension

In [67]:
sql = f'''
    WITH newcount as (
    SELECT ext, count(*)
    FROM {pluto}
    GROUP BY ext),
    prevcount as (
    SELECT ext, count(*)
    FROM {plutoprev}
    GROUP BY ext)
    SELECT a.ext, b.ext as extprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.ext = b.ext
    ORDER BY a.ext;
'''

In [68]:
df = pd.read_sql(sql=sql, con=con)

In [69]:
df

    ext extprev  countnew  countprev    diff
0     E       E   48478.0    48335.0   143.0
1    EG      EG   36790.0    36709.0    81.0
2     G       G  264848.0   264413.0   435.0
3     N       N  452422.0   451333.0  1089.0
4  None    None   57173.0        NaN     NaN
5  None    None       NaN    58669.0     NaN

In [70]:
#Check extension domain
unique_extension = df.ext.tolist()
extension_domain = list(get_domain('ext', 'pluto_domains.json').keys())

In [71]:
# in domain not in pluto:
[i for i in extension_domain if i not in unique_extension]

[]

In [72]:
# in pluto not in domain:
[i for i in unique_extension if i not in extension_domain]

['N', None, None]

### Proxy code

In [73]:
sql = f'''
    WITH newcount as (
    SELECT proxcode, count(*)
    FROM {pluto}
    GROUP BY proxcode),
    prevcount as (
    SELECT proxcode, count(*)
    FROM {plutoprev}
    GROUP BY proxcode)
    SELECT a.proxcode, b.proxcode as proxcodeprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.proxcode = b.proxcode
    ORDER BY a.proxcode;
'''

In [ ]:
df = pd.read_sql(sql=sql, con=con)

In [ ]:
df

In [ ]:
#Check proxcode domain
unique_proxcode = df.proxcode.tolist()
proxcode_domain = list(get_domain('proxcode', 'pluto_domains.json').keys())

In [ ]:
# in domain not in pluto:
[i for i in proxcode_domain if i not in unique_proxcode]

In [ ]:
# in pluto not in domain:
[i for i in unique_proxcode if i not in proxcode_domain]

### Lot type

In [ ]:
sql = f'''
    WITH newcount as (
    SELECT lottype, count(*)
    FROM {pluto}
    GROUP BY lottype),
    prevcount as (
    SELECT lottype, count(*)
    FROM {plutoprev}
    GROUP BY lottype)
    SELECT a.lottype, b.lottype as lottypeprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.lottype = b.lottype
    ORDER BY a.lottype;
'''

In [ ]:
df = pd.read_sql(sql=sql, con=con)

In [ ]:
df

In [ ]:
#Check lottype domain
unique_lottype = df.lottype.tolist()
lottype_domain = list(get_domain('lottype', 'pluto_domains.json').keys())

In [ ]:
# in domain not in pluto:
[i for i in lottype_domain if i not in unique_lottype]

In [ ]:
# in pluto not in domain:
[i for i in unique_lottype if i not in lottype_domain]

### Basement code

In [ ]:
sql = f'''
    WITH newcount as (
    SELECT bsmtcode, count(*)
    FROM {pluto}
    GROUP BY bsmtcode),
    prevcount as (
    SELECT bsmtcode, count(*)
    FROM {plutoprev}
    GROUP BY bsmtcode)
    SELECT a.bsmtcode, b.bsmtcode as bsmtcodeprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.bsmtcode = b.bsmtcode
    ORDER BY a.bsmtcode;
'''

In [ ]:
df = pd.read_sql(sql=sql, con=con)

In [ ]:
df

In [ ]:
#Check bsmtcode domain
unique_bsmtcode = df.bsmtcode.tolist()
bsmtcode_domain = list(get_domain('bsmtcode', 'pluto_domains.json').keys())

In [ ]:
# in domain not in pluto:
[i for i in bsmtcode_domain if i not in unique_bsmtcode]

In [ ]:
# in pluto not in domain:
[i for i in unique_bsmtcode if i not in bsmtcode_domain]

### PLUTO map id

In [ ]:
sql = f'''
    WITH newcount as (
    SELECT plutomapid, count(*)
    FROM {pluto}
    GROUP BY plutomapid),
    prevcount as (
    SELECT plutomapid, count(*)
    FROM {plutoprev}
    GROUP BY plutomapid)
    SELECT a.plutomapid, b.plutomapid as plutomapidprev, a.count as countnew, b.count as countprev, a.count - b.count as diff
    FROM newcount a
    FULL OUTER JOIN prevcount b
    ON a.plutomapid = b.plutomapid
    ORDER BY a.plutomapid;
'''

In [ ]:
df = pd.read_sql(sql=sql, con=con)

In [ ]:
df

In [ ]:
#Check plutomapid domain
unique_plutomapid = df.plutomapid.tolist()
plutomapid_domain = list(get_domain('plutomapid', 'pluto_domains.json').keys())

In [ ]:
# in domain not in pluto:
[i for i in plutomapid_domain if i not in unique_plutomapid]

In [ ]:
# in pluto not in domain:
[i for i in unique_plutomapid if i not in plutomapid_domain]

#### done