In [25]:
import pandas as pd
import numpy as np
import time
import datetime
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import os

pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)

In [9]:
%load_ext dotenv
%dotenv ../.env

The dotenv extension is already loaded. To reload it, use:
  %reload_ext dotenv

In [20]:
con = create_engine(os.getenv('RECIPE_ENGINE'))

In [11]:
columns = ['parid','boro', 'block', 'lot',
           'street_name', 'housenum_lo', 'housenum_hi', 'aptno', 
          'zip_code', 'bldg_class', 'ease', 'av_owner', 'land_area', 
           'gross_sqft', 'residential_area_gross', 'office_area_gross', 'retail_area_gross',
          'garage_area', 'storage_area_gross', 'factory_area_gross', 'other_area_gross',
          'num_bldgs', 'bld_story', 'coop_apts', 'units', 'lot_frt', 'lot_dep', 'bld_frt', 'bld_dep', 
           'bld_ext', 'lot_irreg', 'pyactland', 'pyacttot', 'pyactextot', 'yrbuilt', 'yralt1',
           'yralt2', 'condo_number', 'appt_boro', 'appt_block', 'appt_lot', 'appt_ease', 'appt_date']

In [15]:
for i in columns:
    print(f' count(nullif(a.{i} = b.{i}, true)) as {i},')

NameError: name 'ei' is not defined

In [17]:
pts_prev = 'pluto_pts."2019/04/20"'
pts = 'pluto_pts."2019/08/26"'

In [22]:
sql = f'''
SELECT
     count(*) as total,
     count(nullif(a.parid = b.parid, true)) as parid,
     count(nullif(a.boro = b.boro, true)) as boro,
     count(nullif(a.block = b.block, true)) as block,
     count(nullif(a.lot = b.lot, true)) as lot,
     count(nullif(a.street_name = b.street_name, true)) as street_name,
     count(nullif(a.housenum_lo = b.housenum_lo, true)) as housenum_lo,
     count(nullif(a.housenum_hi = b.housenum_hi, true)) as housenum_hi,
     count(nullif(a.aptno = b.aptno, true)) as aptno,
     count(nullif(a.zip_code = b.zip_code, true)) as zip_code,
     count(nullif(a.bldg_class = b.bldg_class, true)) as bldg_class,
     count(nullif(a.ease = b.ease, true)) as ease,
     count(nullif(a.av_owner = b.av_owner, true)) as av_owner,
     count(nullif(a.land_area = b.land_area, true)) as land_area,
     count(nullif(a.gross_sqft = b.gross_sqft, true)) as gross_sqft,
     count(nullif(a.residential_area_gross = b.residential_area_gross, true)) as residential_area_gross,
     count(nullif(a.office_area_gross = b.office_area_gross, true)) as office_area_gross,
     count(nullif(a.retail_area_gross = b.retail_area_gross, true)) as retail_area_gross,
     count(nullif(a.garage_area = b.garage_area, true)) as garage_area,
     count(nullif(a.storage_area_gross = b.storage_area_gross, true)) as storage_area_gross,
     count(nullif(a.factory_area_gross = b.factory_area_gross, true)) as factory_area_gross,
     count(nullif(a.other_area_gross = b.other_area_gross, true)) as other_area_gross,
     count(nullif(a.num_bldgs = b.num_bldgs, true)) as num_bldgs,
     count(nullif(a.bld_story = b.bld_story, true)) as bld_story,
     count(nullif(a.coop_apts = b.coop_apts, true)) as coop_apts,
     count(nullif(a.units = b.units, true)) as units,
     count(nullif(a.lot_frt = b.lot_frt, true)) as lot_frt,
     count(nullif(a.lot_dep = b.lot_dep, true)) as lot_dep,
     count(nullif(a.bld_frt = b.bld_frt, true)) as bld_frt,
     count(nullif(a.bld_dep = b.bld_dep, true)) as bld_dep,
     count(nullif(a.bld_ext = b.bld_ext, true)) as bld_ext,
     count(nullif(a.lot_irreg = b.lot_irreg, true)) as lot_irreg,
     count(nullif(a.pyactland = b.pyactland, true)) as pyactland,
     count(nullif(a.pyacttot = b.pyacttot, true)) as pyacttot,
     count(nullif(a.pyactextot = b.pyactextot, true)) as pyactextot,
     count(nullif(a.yrbuilt = b.yrbuilt, true)) as yrbuilt,
     count(nullif(a.yralt1 = b.yralt1, true)) as yralt1,
     count(nullif(a.yralt2 = b.yralt2, true)) as yralt2,
     count(nullif(a.condo_number = b.condo_number, true)) as condo_number,
     count(nullif(a.appt_boro = b.appt_boro, true)) as appt_boro,
     count(nullif(a.appt_block = b.appt_block, true)) as appt_block,
     count(nullif(a.appt_lot = b.appt_lot, true)) as appt_lot,
     count(nullif(a.appt_ease = b.appt_ease, true)) as appt_ease,
     count(nullif(a.appt_date = b.appt_date, true)) as appt_date
FROM {pts} a
INNER JOIN {pts_prev} b
USING (parid)
'''

In [23]:
%%time
df = pd.read_sql(sql=sql, con=con)

CPU times: user 20 ms, sys: 0 ns, total: 20 ms
Wall time: 29.7 s

In [26]:
df

,total,parid,boro,block,lot,street_name,housenum_lo,housenum_hi,aptno,zip_code,bldg_class,ease,av_owner,land_area,gross_sqft,residential_area_gross,office_area_gross,retail_area_gross,garage_area,storage_area_gross,factory_area_gross,other_area_gross,num_bldgs,bld_story,coop_apts,units,lot_frt,lot_dep,bld_frt,bld_dep,bld_ext,lot_irreg,pyactland,pyacttot,pyactextot,yrbuilt,yralt1,yralt2,condo_number,appt_boro,appt_block,appt_lot,appt_ease,appt_date
0,1120731,0,0,0,0,89,147,1,28,64,511,0,14710,1399,7033,0,0,0,0,0,0,0,3936,3913,349,377,852,536,3012,3748,384,165,988,988,0,2926,3401,655,0,0,0,118,0,148